<%- include('inc/header_full') %>

<!-- ERROR -->
<div class="w3-center">
	<br />
	<h2 class="underlined">ERREUR <%= errorCode %></h2>
	<p><i>Erreur <%= errorCode %> : <%= errorMessage %>.</i></p>
	<a href="/#home" class="custom-button w3-button w3-dark-gray">
		<i class="fa fa-home w3-margin-right"></i>Retourner à l'accueil
	</a>
	<br />
</div>
<!-- FIN ERROR -->


<!-- STATIC FOOTER -->
<div style="position: absolute; bottom: 0; width: 100%">
    <%- include('inc/footer') %>
</div>
<!-- FIN STATIC FOOTER -->
