<%- include('../inc/header') %>

		<!-- MATH ML REFERENCE : https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference -->

		<!-- Header -->
		<header class="w3-theme" id="myHeader">
			<i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>

			<div class="image-background-1 w3-center">
				<br />
				<h4 class="global-title w3-animate-bottom">PARTIE II</h4>
				<i style="color: #cbcbcb;">
					<h1 class="w3-xlarge w3-animate-bottom">Comment se préparer sur Terre et comment limiter ces effets dans l'espace</h1>
				</i>
				<br />
			</div>
		</header>
		<!-- Fin du header -->































		<!-- SOMMAIRE DE LA PARTIE II -->
		<div class="w3-container w3-padding-32" id="sommaire">
			<h3 class="main-title w3-center">
				SOMMAIRE :
			</h3>

			<br />
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-half">
					<div class="w3-card w3-container" style="min-height: 220px">
						<a class="w3-hover-text-blue-grey" href="#partie_A">
							<h3 class="underlined">Partie A</h3>
						</a>
						<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_A'"></i>
						<p class="main-text w3-content">Comment se préparer sur Terre ?</p>
					</div>
				</div>

				<div class="w3-half">
					<div class="w3-card w3-container" style="min-height: 220px">
						<a class="w3-hover-text-blue-grey" href="#partie_B">
							<h3 class="underlined">Partie B</h3>
						</a>
						<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_B'"></i>
						<p class="main-text w3-content">Comment limiter ces effets dans l’espace ?</p>
					</div>
				</div>
			</div>



			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-half">
					<div class="w3-card w3-container" style="min-height: 220px">
						<a class="w3-hover-text-blue-grey" href="#partie_C">
							<h3 class="underlined">Partie C</h3>
						</a>
						<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_C'"></i>
						<p class="main-text w3-content">Limiter les effets naturels</p>
					</div>
				</div>
				<div class="w3-half">
					<div class="w3-card w3-container" style="min-height: 220px">
						<a class="w3-hover-text-blue-grey" href="#partie_D">
							<h3 class="underlined">Partie D</h3>
						</a>
						<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_D'"></i>
						<p class="main-text w3-content">Conclusion et transition</p>
					</div>
				</div>
			</div>


			<!-- Introduction -->
			<div class="sub-partie w3-padding-32">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les nombreuses différences entre <b>vivre avec</b> et <b>sans pesanteur</b> influencent et <b>endommagent le corps humain</b>, pouvant parfois créer des <b>lésions irréversibles</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il est donc <b>primordial</b> pour les astronautes de <b>bien se préparer</b>, afin de <b>limiter</b> au maximum ces problèmes.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diverses <b>méthodes d’entraînement</b> ont été mises au point afin de <b>préparer physiquement</b> les sujets.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entre autre, les <b>études</b> menées par de <b>nombreux scientifiques</b> sur les effets infligés à l’organisme des spationautes après leur voyage, a permis de mettre au point <b>plusieurs machines</b> pouvant <b>mieux les préparer</b>.
				</p>
			</div>
			<!-- Fin de l'Introduction -->
		</div>
		<!-- FIN DU SOMMAIRE DE LA PARTIE II -->

























		<!-- PARTIE A. Comment se préparer sur Terre ? -->
		<div class="w3-content w3-container w3-padding-32" id="partie_A">
			<h3 class="main-title w3-center">
				A. Comment se préparer sur Terre ?
			</h3>
			<h2 class="second-title">
				1. Les centrifugeuses :
			</h2>



			<!-- Introduction -->
			<div class="sub-partie">
				<p class="main-text w3-content" style="padding-top: 13px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>centrifugeuse humaine</b> qui occupe les locaux du MEDES depuis <b>2007</b> utilise le même principe qu’une <b>essoreuse à salade</b>. Grâce à un <b>mouvement de rotation</b>, la centrifugeuse crée une <b>accélération</b>, permettant de séparer un liquide d’un solide.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le récipient de la centrifugeuse est percé, <b>laissant s’échapper le liquide</b> lorsque l’appareil tourne, mais <b>empêchant au solide de sortir</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ainsi, l’essoreuse à salade donne une <b>accélération</b> au contenu <b>en tournant</b>. Les feuilles de salades sont projetées <b>contre les parois percées</b> du panier de l’appareil et l’eau est projetée <b>contre les parois extérieures</b>, s’échappant par les perforations.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dans notre cas, la <b>centrifugeuse</b> s’adapte à la <b>taille humaine</b> et possède <b>deux formes différentes</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/centrifugeuse_1.jpg" style="width: 80%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 80%; margin-left: 10%;">
						<i class="copyright"><s>&copy;</s>Domaine Public - Centrifugeuse 20G de la NASA - <a href="https://www.nasa.gov/centers/ames/multimedia/images/2006/20gcentrifuge.html">NASA</a></i>
					</div>
				</div>
				<br />
			</div>
			<!-- Fin de l'Introduction -->



			<!-- Exemples et calculs -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Exemples et calculs :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si nous considérons que la centrifugeuse décrit un <b>mouvement circulaire de vitesse constante</b>, c’est à dire <b>sans accélération</b>, nous pouvons écrire <b>\(F_{cen} = \frac{m \times v^2}{R} \)</b> avec \(m\) la masse de l’objet considéré (dans notre cas, la masse de l’humain), \(v\) la vitesse linéaire sur la tangente à la trajectoire et \(R\) la distance de l’axe de rotation au centre gravité de l’objet.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On peut donc calculer le <b>nombre de \(g\)</b> produit par cette force via la formule :
					$$  G = \frac{\frac{m \times v^2}{R}}{g_{Terre}} \text{ avec } G \text{ le nombre de fois } g_{Terre} \text{ et } g_{Terre} \text{ l’attraction gravitationnelle de la Terre}  $$
					$$  G = \frac{m \times v^2}{R \times g_{Terre}}  $$
					$$  \frac{G}{v^2} = \frac{m}{R \times g_{Terre}}  $$
					$$  \frac{v^2}{G} = \frac{R \times g_{Terre}}{m}  $$
					$$  v^2 = \frac{R \times g_{Terre} \times G}{m}  $$
					$$  v = \sqrt{\frac{R \times g_{Terre} \times G}{m}} \text{ avec } v \text{ en m/s}  $$
					$$  v = \sqrt{\frac{R \times g_{Terre} \times G}{m}} \times 3,6 \text{ avec } v \text{ en km/h}  $$

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lors d’un décollage dans une fusée Soyouz, un astronaute subit <b>en moyenne \(3G\)</b>. Nous allons donc calculer la vitesse \(v\) nécessaire pour atteindre cette vitesse <b>dans la centrifugeuse \(20G\) de la NASA</b> à partir des <a class="w3-hover-text-green" href="https://www.nasa.gov/ames/research/space-biosciences/20-g-centrifuge">informations disponibles</a> et en supposant que l’homme à l’intérieur pèse \(80 \text{ kg}\).
					$$  v = \sqrt{\frac{4,4196 \times 9,81 \times 3,00}{80,0}} \times 3,6  $$
					$$  v = 4,59 \text{ km/h}  $$

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En 2017, l'astronaute <b>Peggy Whitson</b> est <b>rentrée sur Terre avec \(10G\)</b> au lieu de <b>\(2G\)</b>, suite à un <b>problème technique</b> du Soyouz.
					$$  v = \sqrt{\frac{4,4196 \times 9,81 \times 10,00}{80,0}} \times 3,6  $$
					$$  v = 8,38 \text{ km/h}  $$

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pour simuler un <b>départ normal</b>, il faut donc atteindre une vitesse linéaire de <b>\(4,59 \text{ km/h}\)</b> et pour une <b>rentrée sur Terre mouvementée</b>, une vitesse linéaire de <b>\(8,38  \text{ km/h}\)</b>.
				</p>
			</div>
			<!-- Fin des exemples et calculs -->



			<!-- Les principes et effets de la centrifugeuse -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Les principes et effets de la centrifugeuse :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un bras rotatif muni d’une capsule où un homme peut s’installer pour subir <b>une variation de \(g\)</b>, voici le principe de la centrifugeuse. Les <b>astronautes</b> et les <b>pilotes</b> de chasse viennent s’y entraîner pour préparer leur organisme à des <b>accélérations brusques</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un homme sans entraînement particulier s’évanouit entre \(4G\) et \(6G\), mais les astronautes subissent des accélérations pouvant aller jusqu’à <b>\(11G\)</b>, comme Alan Shepard avec la capsule Mercury, pour le <b>vol orbital Mercury-Redstone 3</b> (<i>1961</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De nos jours, <b>l’accélération</b> d’une navette au décollage se rapproche des <b>\(3G\)</b>, et la <b>rentrée</b> s’effectue à <b>\(2G\)</b>.


					<br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les <b>sensations ressenties</b> par les occupants de la centrifugeuse sont <b> une impression d’écrasement</b> (\(4G\)). A \(5G\), les mouvements, comme <b>lever un bras deviennent difficiles</b> et ils ont des <b>difficultés à parler</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il y a des <b> effets au niveau du cœur</b> et <b>le sang ne circule plus</b> normalement. Certains astronautes subissent des entraînements allant jusqu’à <b>\(9G\)</b>. A faible vitesse, des sujets ayant testé la centrifugation affirment qu’ils ne se sentent pas tourner.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorsque la vitesse est <b>constante</b>, et que l’occupant ne bouge pas la tête, <b>l’oreille interne</b> n’est pas perturbée, hormis pendant <b>l’accélération et la décélération de la machine</b>.

					<br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La plus grande centrifugeuse se trouve à la <b>Citée des Etoiles</b>, près de Moscou. Elle possède un bras de 18 mètres et peut produire une <b>accélération de \(30G\)</b>, bien au-delà de ce que le corps humain peut supporter !
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/centrifugeuse_2.jpg" style="width: 80%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 80%; margin-left: 10%;">
						<i class="copyright">&copy;ESA - Centrifugeuse dite à bras court - <a href="http://www.medes.fr/fr/clinique-spatiale/les-equipements/la-centrifugeuse.html">MEDES</a></i>
					</div>
				</div>
				<br />
			</div>
			<!-- Fin des principes et effets de la centrifugeuse -->



			<!-- Les recherches actuelles -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Les recherches actuelles :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Des recherches sont actuellement effectuées pour améliorer la protection des astronautes durant leur voyage.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En effet, ils sont constamment soumis à la <b>micropesanteur</b>, ce qui, à long terme, est néfaste pour l’organisme (<i>les effets sont développés dans le I</i>). Une étude est en cours de réalisation au <b>MEDES de Toulouse</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Des scientifiques travaillent avec des volontaires pour tester les bienfaits que procurent les centrifugeuses. Des sujets vont passer un <b>test d’état physiologique avant l’expérience</b>, <b>pendant</b> et <b>après</b>, pour pouvoir <b>observer l’évolution</b> de leur organisme.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ensuite, ils sont alités pendant 5 jours, avec les pieds légèrement surélevés et une impossibilité de se lever, pour <b>recréer une sensation de micropesanteur</b>. Cet alitement va engendrer un <b>déconditionnement cardio-vasculaire</b>, des <b>modifications osseuses</b>, créant un <b>début d’ostéoporose</b>, ainsi qu’une <b>atrophie musculaire</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils ont également des <b>séances de centrifugation</b> tous les jours, d’une durée de <b>30 minutes</b>, ce qui semble, d’après les hypothèses des scientifiques, la durée <b>nécessaire</b> pour observer des effets.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comme dit précédemment, la centrifugation recrée une <b>gravité</b>, ce qui pourrait contrecarrer les <b>modifications physiologiques</b> des habitants de l’ISS.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les scientifiques cherchent maintenant à savoir s’il est mieux pour les astronautes d’avoir une <b>séance de centrifugation de 30 minutes quotidienne le matin</b>, ou bien <b>six séances de cinq minutes</b>.

					<br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D’autres expériences vont avoir lieu dans un futur proche et les scientifiques espèrent munir l’ISS d’une centrifugeuse, ainsi que certaines navettes par exemple pour le voyage sur Mars, qui dure environ 2 ans.
				</p>
			</div>
			<!-- Fin des recherches actuelles -->

















			<br /><br /><br />
			<h2 class="second-title">
				2. Les bassins d’eau de la NASA :
			</h2>


			<!-- Le laboratoire de flottabilité neutre -->
			<div class="sub-partie">
				<h2 class="underlined">
					Le laboratoire de flottabilité neutre :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pour préparer les astronautes à la micropesanteur présents dans l'ISS, la NASA a construit une <b>piscine géante</b> baptisée <b>Neutral Buoyancy Lab</b> (<i>"laboratoire de flottabilité neutre" en français</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ce bassin qui a pour dimension <b>61 mètres de longueur</b>, <b>31 mètres de largeur</b> et une <b>profondeur de 12 mètres</b>, soit quatre bus à impériale empilés les uns sur les autres.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il contient environ <b>23,5 millions de litres d’eau</b> et il a été mis en service en 1995 dans le <b>Sonny Carter Training Facility</b> du Centre spatial Lyndon B. Johnson à Houston au Texas.

					<br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Au fond de la piscine se trouve une <b>maquette partielle de l’ISS</b>. En effet, le bassin est encore trop petit pour pouvoir la contenir en entier. Les <b>différents modules</b> sont donc mis en place <b>en fonction de la mission</b> que réalisent les astronautes.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils peuvent rester plus de <b>6 heures</b> au fond du bassin dans leur combinaison spatiale afin de se préparer aux <b>sorties extravéhiculaires</b> dans l’espace.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils sont encadrés par des professionnels de plongé et sont souvent à <b>plusieurs</b> pour apprendre à travailler en équipe et à se déplacer autour de l’ISS pour la réparer ou encore la moderniser.
				</p>

				<br />
				<div class="w3-content" style="max-width:700px; position:relative">
					<div class="img-wrap w3-content">
						<img class="customSlides w3-animate-opacity" src="/imgs/eva_thomas_p.jpg" style="width:100%">

						<div class="img-description" style="width: 100%;">
							<i class="copyright"><s>&copy;</s>Domaine Public : plongée du 9 avril 2013 - <a href="http://www.esa.int/var/esa/storage/images/esa_multimedia/images/2013/04/thomas_pesquet_eva_training/12608826-1-eng-GB/Thomas_Pesquet_EVA_training.jpg">NASA</a></i>
						</div>
					</div>

					<div class="img-wrap w3-content">
						<img class="customSlides w3-animate-opacity" src="/imgs/neutral_buoyancy_lab.png" style="width:100%">

						<div class="img-description" style="width: 100%;">
							<i class="copyright"><s>&copy;</s>Domaine Public - Neutral Buoyancy Lab - <a href="https://www.nasa.gov/sites/default/files/thumbnails/image/nbl_gatorade_0.png">NASA</a></i>
						</div>
					</div>

					<a class="w3-button w3-dark-grey" style="position:absolute;top:45%; left:0;" onclick="plusDivs(-1)"><b>&#60;</b></a>
					<a class="w3-button w3-dark-grey" style="position:absolute;top:45%; right:0;" onclick="plusDivs(+1)"><b>&#62;</b></a>
				</div>
				<br />
			</div>
			<!-- Fin du laboratoire de flottabilité neutre -->



			<!-- La poussée d’Archimède -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La poussée d’Archimède :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dans et sous l’eau, le corps est soumis à deux forces principales : <b>la poussée d’Archimède \(F_A\)</b> et <b>son poids réel \(F_P\)</b>, c’est-à-dire le poids du corps en surface.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/archimede_1.png" style="width: 40%; display: block; margin-left: 30%;">

					<div class="img-description" style="width: 40%; margin-left: 30%;">
						<i class="copyright"><s>&copy;</s>Domaine Public - Principe d'Archimède 1 - <a href="https://commons.wikimedia.org/wiki/File:Principio_di_Archimede_galleggiamento.png?uselang=fr">Wikipedia</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La poussée d’Archimède est, d’après le scientifique éponyme, la suivante : <i>"Tout corps plongé dans un fluide au repos, entièrement mouillé par celui-ci ou traversant sa surface libre, subit une force verticale, dirigée de bas en haut et opposée au poids du volume de fluide déplacé"</i>. Nous appelons fluide ce qui n’a pas de formes propres, c’est-à-dire les liquides et les gaz.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soit la formule de la poussée d’Archimède :
					$$
						P_{Archimède} = V_{Déplacé} \times \rho_{Fluide} \times g \;\; \text{ avec }
						\begin{cases}
							V_{Déplacé} \text{ le volume déplacé par le corps en m}^3  \\
							\rho_{Fluide} \text{ la masse volumique du fluide dans lequel se trouve le corps en kg/m}^3
						\end{cases}
					$$
					<br />
					$$
						\text{ On a également : } \rho_{Fluide} = \frac{m_{Fluide}}{V_{Fluide}} \text { avec }

						\begin{cases}
							m \text{ la masse}  \\
							g \text{ la gravité soit l'intensité de la pesanteur (sur Terre, } g \simeq 9,81 \text{ m/s}^2 \text{)}
						\end{cases}
					$$

					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nous pouvons aussi trouver la formule sous cette forme :  \(P_{Archimède} = M_{FluideDéplacé} \times g\) avec \(m_{Fluide}\) déplacé est la masse du fluide déplacée par le corps (en \(\text{kg}\))

					<br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En fonction de ces <b>deux forces</b>, nous pouvons déterminer si le corps va <b>flotter</b> (<i><b>flottabilité positive</b> : sur le schéma du dessus \(F_A > F_P\)</i>) ou <b>couler</b> (<i><b>flottabilité négative</b> : \(F_A < F_P\)</i>) ou encore garder une <b>profondeur constante</b> (<i><b>flottabilité neutre</b> : \(F_A = F_P\)</i>).
				</p>
			</div>
			<!-- Fin de la poussée d’Archimède -->



			<!-- La flottabilité et la pression -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La flottabilité et la pression :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La flottabilité est une force exercée de <b>bas en haut</b> sur un corps immergé dans un liquide ou un gaz. Elle correspond à la <b>force d’Archimède</b> et elle est différente en fonction de <b>la masse volumique de l’objet</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle est opposée à la gravité qui est une force qui s’exerce de haut en bas.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/archimede_2.png" style="width: 40%; display: block; margin-left: 30%;">

					<div class="img-description" style="width: 40%; margin-left: 30%;">
						<i class="copyright"><s>&copy;</s>Domaine Public - Principe d'Archimède 2 - <a href="https://commons.wikimedia.org/wiki/File:Principio_di_Archimede_spinta_e_peso.png?uselang=fr">Wikipedia</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La pression \(p\) (<i>en Pascal \(\text{Pa}\)</i>) est un rapport d’une force \(F\) (<i>en Newton \(\text{N}\)</i>) qui s’exerce uniformément et perpendiculairement sur une surface \(S\) (<i>en mètre carré \(\text{m}^2\)</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On a \(p = \frac{F}{S}\)
				</p>
			</div>
			<!-- Fin de la flottabilité et la pression -->



				<!-- La pression atmosphérique, la pression hydrostatique et la pression absolue -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La pression atmosphérique, la pression hydrostatique et la pression absolue :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>pression atmosphérique</b> est la pression exercée par notre atmosphère. Elle vaut environ <b>\(101\;325 \text{ Pa}\)</b> au niveau de la mer.
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le Pascal est une <b>unité de mesure de pression du système international</b>. Nous savons que \(1 \text{ Pa} = \frac{1 \text{ N}}{1 \text{ m}^2}\). Son nom provient du scientifique français <b>Blaise Pascal</b>.
					La <b>pression hydrostatique</b> est la pression exercée par l’eau. Elle se calcule par la formule :
					$$
						\rho = p \times g \times h \;\; \text { avec }
						\begin{cases}
							p \text{ la pression en N/m}^2  \\
							\rho \text{ la masse volumique du liquide (pour l'eau, } g \simeq 1000 \text{ kg/m}^3 \text{)}  \\
							g \text{ la gravité soit l’intensité de la pesanteur (sur Terre, } g \simeq 9,81 \text{ m/s}^2 \text{)}  \\
							h \text{ la profondeur en m}
						\end{cases}
					$$

					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>pression absolue</b> est la pression totale exercée lorsque le corps est totalement immergé, c’est-à-dire la <b>somme de la pression atmosphérique</b> et de la <b>pression hydrostatique</b>.
					$$  p_{Absolue} = p_{Atmosphérique} + p_{Hydrostatique}  $$
					$$  p_{Absolue} \simeq 101\;325 + p \times g \times h  $$
				</p>
			</div>
			<!-- Fin de la pression atmosphérique, la pression hydrostatique et la pression absolue -->



			<!-- La pression sous 12 mètres d’eau -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La pression sous 12 mètres d’eau :
				</h2>

				<p class="main-text w3-content">
					$$
						p_{Absolue} \simeq 101\;325  + p \times g \times h \;\; \text { avec }
						\begin{cases}
							\rho_{Eau} \simeq 1000 \text { kg/m}^3 \\
							g \simeq 9,81 \\
							h = 12
						\end{cases}
					$$

					$$  p_{Absolue} \simeq 101\;325 + 1000 \times 9,81 \times 12  $$
					$$  p_{Absolue} \simeq 101\;325 + 117720  $$
					$$  p_{Absolue} \simeq 219\;045  $$
					$$  p_{Absolue} \simeq 2,2 \times 10^5  $$

					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Or \(1 \text { bar} = 10^5 \text { Pa}\)
					<br />Il y a donc environ \(2,2 \text { bar}\) de pression à \(212 \text { mètres}\) de profondeur dans le laboratoire de flottabilité neutre.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nous en concluons donc que sous l’eau, des forces se compensent tout comme dans l’espace, ce qui en fait un bon entraînement pour les astronautes.
				</p>
			</div>
			<!-- Fin de la pression sous 12 mètres d’eau -->
















			<br /><br /><br />
			<h2 class="second-title">
				3. Les vols paraboliques et les vols 0G :
			</h2>


			<!-- Les vols zéro G  -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Les vols 0G :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les <b>vols \(0G\)</b> sont des vols particuliers où l’avion arrive dans des conditions spécifiques à reproduire <b>l’état de micropesanteur</b> en effectuant des paraboles. Mais quelles sont ces conditions ?
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/vol_0G_1.jpg" style="width: 80%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 80%; margin-left: 10%;">
						<i class="copyright">&copy;CNES et NOVESPACE - Vol \(0G\) - <a href="http://astronova.fr/wp-content/uploads/2017/07/Vol-parabolique-sche%CC%81ma.jpg">Astronova</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’avion doit suivre une <b>trajectoire précise</b> en respectant une <b>vitesse</b>, un <b>angle d'inclinaison</b> ou encore une <b>altitude</b> en fonction des phases du vol. L’avion doit arriver à une <b>inclinaison de \(47°\) à \(7\;600 \text{ m}\)</b> avec une <b>vitesse de \(570 \text{ km/h}\)</b> afin de pouvoir être en micropesanteur.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais pourquoi cela recrée la sensation de micropesanteur ? Lors de cette parabole, nous constatons qu’il y a <b>quatre phases majeures</b> (<i>passez votre curseur sur les phases pour voir ces termes</i>) :
				</p>
			</div>
		</div>





		<div class="w3-container" style="padding-top: 6px !important;">
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/vol_0G_phase_1.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>L'HYPERPESANTEUR 1</h3>
							<p>
								C'est le moment où le corps est soumis à <b>\(1,8G\)</b> donc le poids est environ <b>multiplié par 2</b>. Si nous imaginons un saut, cette phase représente <b>l‘élan avant de sauter</b>.
								<br />L’avion donne donc <b>l’impulsion</b> en augmentant l’altitude afin de nous "lancer".
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - Vol 0G - Etape 1 - <a href="/imgs/vol_0G_phase_1.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>

				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/vol_0G_phase_2.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>LA MICROPESANTEUR 1</h3>
							<p>
								C'est l’instant où le corps est en <b>\(0G\)</b> donc le poids est nul. Elle va du moment où la <b>phase de commencement</b> jusqu’au <b>point culminant de la parabole</b>.
								<br />Avec notre image du saut, cette phase représente le moment où nous <b>quittons le sol</b> et où nous nous en écartons. L’avion accompagne ici ce <b>même mouvement</b> et son <b>altitude</b> augmente également.
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - Vol 0G - Etape 2 - <a href="/imgs/vol_0G_phase_2.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>

				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/vol_0G_phase_3.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>LA MICROPESANTEUR 2</h3>
							<p>
								C'est l’instant où le corps est en <b>\(0G\)</b> donc le poids est nul. Elle va du sommet de la <b>parabole jusqu’à la fin de la phase</b>.
								<br />Avec notre image du saut, cette phase représente le <b>moment</b> où nous commençons à redescendre et que nous nous <b>rapprochons du sol</b>. L’avion suit <b>l’action et l’altitude</b> diminue.
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - Vol 0G - Etape 3 - <a href="/imgs/vol_0G_phase_3.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>

				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/vol_0G_phase_4.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>L'HYPERPESANTEUR 2</h3>
							<p>
								C'est le moment où le corps est soumis <b>\(1,8G\)</b>, donc le <b>poids</b> est environ <b>multiplié par 2</b>. Si nous imaginons un saut, cette phase symbolise <b>l’impact avec le sol</b>.
								<br />L’avion, pour ne pas que la récupération soit trop brusque, accompagne le mouvement.
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - Vol 0G - Etape 4 - <a href="/imgs/vol_0G_phase_4.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="w3-content w3-container w3-padding-64">
			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Après cela, l’avion se <b>stabilise en position horizontale</b> afin de retrouver une <b>gravité "normale"</b>, la gravité terrestre.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Malgré tout cela, les passagers ne restent que <b>22 secondes en apesanteur</b>, il faut donc faire un <b>grand nombre de paraboles</b> afin de pouvoir s’y habituer réellement.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Différents pays utilisent ces vols, qui ont nettement <b>amélioré le système d’entrainement des astronautes</b> :Les Etats-Unis avec le <b>Boeing</b>, le Canada avec le <b>Falcon</b>, l’Europe avec l’<b>Airbus A310</b> ou encore l’Equateur ou la Russie.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais la France a un programme particulier. L’A310 est unique en son genre, il est le seul qui <b>vole souvent</b> et qui permet donc aux scientifiques de <b>tester leurs expériences</b> régulièrement.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En effet, en France, ces vols ne sont pas utilisés que pour les entrainements ou les loisirs du public mais ils sont aussi utilisés pour <b>identifier les effets de la microgravité</b> sur le corps, la <b>technologie</b> ou encore la <b>matière</b> comme l’eau, le feu, des balles de mousses ou des objets quelconques.
				</p>
			</div>
			<!-- Fin des vols zéro G -->



			<!-- Le contrôle de l’Airbus A310 -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Le contrôle de l’Airbus A310 :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trois pilotes sont chargés de maintenir ces <b>conditions spécifiques</b>. Ils travaillent tous ensemble mais ne font pas tous la même chose.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En effet, le premier s’occupe de <b>l'altitude de l’avion</b>. Le deuxième a pour but <b>d’annuler la trainée de l’avion</b> durant la parabole en réduisant la poussée des moteurs.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le dernier doit quant à lui <b>garder l’angle adéquat à la phase</b> donc il est en <b>charge du tangage</b> (<i>mouvement d’avant en arrière sur un axe horizontal</i>), du roulis (<i>mouvement de gauche à droite sur un axe horizontal</i>) et du <b>lacet</b> (<i>bouge de gauche à droite sur un axe verticale</i>).
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/axes_avion.png" style="width: 40%; display: block; margin-left: 30%;">

					<div class="img-description" style="width: 40%; margin-left: 30%;">
						<i class="copyright"><s>&copy;</s>Domaine Public - Axes d'un avion - <a href="https://fr.wikipedia.org/wiki/Pilotage_d%27un_avion#/media/File:A%C3%A9ronef_(Beech_bimoteur)_et_ses_axes.png">Wikipedia</a></i>
					</div>
				</div>
				<br />
			</div>
			<!-- Fin des contrôles de l’Airbus A310 -->



			<!-- Qui organise ces vols ? -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Qui organise ces vols ?
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C’est <b>Novespace</b> qui organise et contrôle ces vols si particuliers. Novespace est une filiale du <b>CNES</b> (<i>Centre National d’Etudes Spatiales</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle a été créée en 1986 par Jean-Pierre Fouquet afin de promouvoir la <b>microgravité</b> dans le domaine scientifique. C’est cette compagnie qui possèdent les avions utilisés lors des vols paraboliques. Ces vols ont besoin d’espace et étant plus dangereux que la normal, ne doivent pas survoler des territoires habités.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils se sont donc installés sur une base portuaire à Bordeaux pour pouvoir voler au-dessus de la mer Méditerranée. La direction a depuis 2006 été reprise par Jean-François Clervoy. Cet astronaute français parti 3 fois en mission a cumulé plus de 28 jours dans l’espace.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il a eu l’idée de donner l'accès au public aux vols paraboliques afin d’intéresser de plus en plus de personnes au domaine spatial. Il veut également partager la magie du zéro G aux plus grands nombres et non plus à une petite communauté de privilégiés.
				</p>
			</div>
			<!-- Fin de qui organise ces vols ? -->



			<!--La prépararation des vols -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La prépararation des vols :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Avant de monter dans l’avion, les passagers suivent un briefing où de nombreuses questions de sécurité sont abordées.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les employés leur font également une <b>piqûre de scopolamine</b> afin d’éviter de se sentir mal et de vomir durant le vol.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En effet, pendant les phases <b>d’hyper pesanteur</b>, notre poids a quasiment <b>doublé</b>. L’<b>oreille interne</b> interprète donc tous les <b>mouvements deux fois plus fort</b> que d’habitude, d’où le risque d’être malade.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>scopolamine</b> est une substance chimique qui utilisée à forte dose peut devenir une drogue mais qui rend les passagers <b>euphoriques</b> lors des vols \(0G\). Elle agit sur le <b>système nerveux</b>.
				</p>
			</div>
			<!-- Fin de la prépararation des vols -->
















			<br /><br /><br />
			<h2 class="second-title">
				4. Le système nerveux :
			</h2>
		</div>

		<div class="w3-container">
			<div class="sub-partie">
				<div class="img-wrap">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/systeme_nerveux.png" style="width: 60%; display: block; margin-left: 20%;">

					<div class="img-description" style="width: 60%; margin-left: 20%;">
						<i class="copyright">&copy;Maxime Dherbécourt - Système nerveux - <a href="/imgs/systeme_nerveux.png">Tpe-Micropesanteur</a></i>
					</div>
				</div>
				<br />
			</div>
		</div>

		<div class="w3-container w3-content" style="padding-top: 6px !important;">
			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>système nerveux</b> a deux composantes : le <b>système nerveux central</b> et le <b>système nerveux périphérique</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le système nerveux central comprend l’<b>encéphale</b>, donc le <b>cerveau</b>, le <b>cervelet </b>et le <b>tronc cérébral</b> qui se situent dans la <b>boîte crânienne</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le cerveau, séparé en <b>deux hémisphères</b> (<i>le gauche et le droite</i>) contrôle tous les organes du corps humain, ce qui en fait l’<b>organe le plus important</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>cervelet</b> est relié au <b>tronc cérébral</b> et est <b>séparé du cerveau</b>. Il est néanmoins similaire à ce dernier, il possède <b>deux hémisphères</b> également. Il permet à un être humain de se tenir debout ou en équilibre et de <b>coordonner ses mouvements</b> en tenant compte de l’espace dans lequel il se trouve.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>tronc cérébral</b> est structuré en <b>3 parties</b>. Il permet la <b>transmission</b> des informations entre le <b>cerveau et le cervelet</b>. Il permet à un individu de percevoir la <b>douleur</b> et de <b>réguler le rythme cardiaque</b> grâce à des nerfs.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/cerveau.jpg" style="width: 70%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 70%; margin-left: 10%;">
						<i class="copyright">&copy;www.colvir.net - Réprésentation d'un cerveau - <a href="https://www.futura-sciences.com/sante/definitions/biologie-cerveau-3125/">Futura Sciences</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>système nerveux central</b> comprend également la <b>moelle épinière</b> qui se situe à côté des vertèbres.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle a plusieurs rôles qui permettent le <b>bon fonctionnement de l'organisme</b> : elle reçoit, enregistre, analyse puis interprète les informations qui lui sont transmises, afin d’envoyer une réponse par le <b>système nerveux périphérique</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/colonne_vertebrale.jpg" style="width: 70%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 70%; margin-left: 10%;">
						<i class="copyright">&copy;Maggie Tintignac - Représentation d'une colonne vertebrale - <a href="https://fr.medipedia.be/lombalgie/comprendre/la-colonne-vertebrale">Medipedia</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>système nerveux périphérique</b> comprend le <b>système nerveux somatique</b> (<i>à l’origine des messages volontaires</i>) et le <b>système nerveux autonome</b> (<i>ou végétatif à l’origine des réflexes</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ce dernier est composé de <b>deux autres systèmes</b> : le <b>parasympathique</b> (<i>à l’origine de la baisse de nombreux caractères comme le rythme cardiaque ou la tension par le billet de nerfs</i>) et l’<b>orthosympathique</b> (<i>à l’origine de la hausse de nombreux caractères comme le rythme cardiaque ou la tension par le billet de nerfs</i>).

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils travaillent simultanément et en synchronisation avec le système nerveux central. L’<b>orthosympathique</b> est composé des <b>ganglions et nerfs</b> (<i>issus de la moelle épinière et du tronc cérébral</i>) du corps humain.
				</p>
			</div>
			<!-- Fin des vols zéro G  -->


			<!-- L’effet de la scopolamine sur le système nerveux -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					L’effet de la scopolamine sur le système nerveux :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>scopolamine</b> agit sur le <b>nerf parasympathique</b>, responsable de la baisse de certains caractères.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>système nerveux parasympathique</b> ne peut donc plus fonctionner correctement et le <b>système nerveux orthosympathique</b> qui continue d’avoir une activité normale, entraîne les hausse progressive des caractères.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette augmentation réduit ensuite le risque de nausée lors des <b>vols \(0G\)</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/scopolamine.png" style="width: 70%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 70%; margin-left: 10%;">
						<i class="copyright">&copy;Maxime Dherbécourt - Effets de la scopolamine - <a href="/imgs/scopolamine.png">Tpe-micropesanteur</a></i>
					</div>
				</div>
				<br />
			</div>
			<!-- Fin de l'effet de la scopolamine sur le système nerveux -->
		</div>
		<!-- FIN DE LA PARTIE A. Comment se préparer sur Terre ? -->











































		<!-- PARTIE B. Comment limiter les effets indésirables dans l’espace ? -->
		<div class="w3-container w3-content w3-padding-32" id="partie_B">
			<h3 class="main-title w3-center">
				B. Comment limiter les effets indésirables dans l’espace ?
			</h3>
			<h2 class="second-title">
				1. Le centre CADMOS et ses projets actuels :
			</h2>

			<!-- Le CADMOS -->
			<h2 class="underlined">
				Le CADMOS :
			</h2>

			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>CADMOS</b> (<i>pour Centre d’Aide au Développement des activités en Micropesanteur et des Opérations Spatiales</i>) est une unité du CNES (<i>Centre National d’Etudes Spatiales, soit l’agence spatiale française</i>) qui a pour but <b>la définition, le développement et la réalisation d’expériences en micropesanteur</b>, que ce soit à bord de l’ISS, de l’Airbus \(0G\) ou de Capsules automatiques.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ce centre est hébergé au <b>Centre spatial de Toulouse</b> depuis 1993 et ses <b>principaux domaines</b> d’actions sont la physiologie (<i>notamment cardiovasculaire</i>), la biologie et l’exobiologie, l’astrophysique, les neurosciences, la physique des fluides, les sciences de la matière et les technologies.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actuellement, le CADMOS développe <b>plusieurs projets dans l’ISS</b> sur la <b>santé humaine</b>, comme l’expérience <b>SarcoLab</b>, le module <b>MARES</b> ou encore l’<b>EPM</b>. Ces projets visent à mieux comprendre et à <b>limiter les effets de la micropesanteur</b> sur le corps.
				</p>
			</div>
			<!-- Fin du CADMOS -->



			<!-- L’expérience SarcoLab -->
			<br />
			<h2 class="underlined">
				L’expérience SarcoLab :
			</h2>

			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’expérience <b>SarcoLab</b>, qui vient du grec "Sarco" (<i>désignant les tissus mous</i>) et dont faisait partie l’astronaute français Thomas Pesquet, étudie les mécanismes de cette <b>fonte musculaire</b> grâce à des <b>prélèvements musculaires et sanguins</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SarcoLab se focalise surtout sur l’<b>analyse des muscles du mollet</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Des <b>prélèvements</b> sont effectués <b>avant</b> le départ, <b>pendant</b> le séjour (<i>des radios sont réalisées dans l’espace</i>) et <b>après</b> le retour sur Terre, afin de <b>surveiller l’évolution</b> de ces derniers.

					<br /><br />Cette expérience requiert cependant l’utilisation simultanée de <b>plusieurs matériels</b> :
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- un <b>dispositif d’enregistrement</b> permettant d’étudier la fonction des nerfs et des muscles
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- un <b>stimulateur musculaire</b> électrique et un mécanique
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- le module <b>MARES</b> pour des mesures électriques
				</p>
			</div>
			<!-- Fin de l'expérience SarcoLab -->


			<!-- Le module MARES -->
			<br />
			<h2 class="underlined">
				Le module MARES :
			</h2>

			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le module <b>MARES</b> (<i>pour Muscle Atrophy Research and Exercise System</i>) est un système de recherche <b>physiologiques</b> (<i>notamment sur l’atrophie musculaire</i>) et d'<b>entraînement physique</b>.
					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mis en place dans l’ISS depuis 2015 dans le <b>laboratoire Columbus</b> de l’ISS (<i>visible sur la photo ci-dessous</i>), il a pour but d’<b>analyser</b> et d’<b>étudier</b> toutes les <b>articulations</b> du corps comme les chevilles, les épaules, les coudes, les genoux, le tronc, les poignets ou encore les hanches et d’aboutir à de <b>nouveaux exercices physiques</b> adéquats afin de <b>ralentir la perte musculaire</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/tweet-2.png" style="width: 50%; display: block; margin-left: 20%;">

					<div class="img-description" style="width: 50%; margin-left: 20%;">
						<i class="copyright">&copy;Thomas Pesquet - Test du MARES - <a href="https://twitter.com/Thom_astro/status/804700442416574464/photo/1">Twitter</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La machine se présente sous la forme d’un <b>fauteuil</b> et possède de <b>nombreux capteurs</b> accompagnés d’<b>électrochocs</b>. Le module est <b>relié à un ordinateur</b> afin de pouvoir <b>exploiter les résultats</b> plus facilement et plus rapidement.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ces données sont ensuite envoyées aux <b>scientifiques du centre CADMOS</b> qui adaptent les exercices physiques en fonction des résultats reçus.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sur le <a class="w3-hover-text-green" href="https://twitter.com/Thom_astro/status/804353288435011585">Twitter de Thomas Pesquet</a>, nous pouvons notamment voir Thomas Pesquet en train de préparer ce module (<i>nous le voyons déplier le fauteuil, tester le matériel, connecter tous les capteurs et gérer la transmission et l’enregistrement des données sur le logiciel informatique prévu à cet effet</i>).
				</p>
			</div>
			<!-- Fin de le module MARES -->



			<!-- L’EPM -->
			<br />
			<h2 class="underlined">
				L’EPM :
			</h2>

			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’<b>EPM</b> (<i>pour European Physiology Module Facility</i>) est une partie du <b>programme "Microgravity Facilities for Columbus"</b> développé par l’ESA et dédié à la <b>physiologie humaine</b>. Il a également été lancé à bord du laboratoire européen <b>Columbus</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’EPM comporte <b>deux modules scientifiques</b> (<i>CARDIOLAB et MEEMM</i>) qui permettent de <b>réaliser des expériences</b> au niveau cardiovasculaire, des neurosciences et des muscles.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’EPM contient également du matériel permettant le <b>recueil et le stockage d’échantillons biologiques</b> (<i>sang, urine et salive</i>) jusqu’à leur <b>retour</b> et leur <b>analyse sur Terre</b>.

					<br /><br />Le module CARDIOLAB comprend entre autre les instruments suivants :
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>Cardiopres</b> qui enregistre la fréquence cardiaque, la pression artérielle et la respiration
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- un <b>Doppler portable</b> qui enregistre en parallèle trois flux sanguins artériels
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- et des <b>outils</b> pour mesurer d’autres données en rapport avec la santé (<i>comme la tension artérielle, l’occlusion veineuse, ...</i>)

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le module <b>MEEMM</b> (<i>pour Multi Electrode Electroencephalogram Mapping Module</i>) comprend des équipements faisant des <b>enregistrements pendant le sommeil</b> des astronautes et un <b>électroencéphalogramme</b> (<i>machine mesurant l’activité électrique du cerveau par des électrodes posées sur la tête</i>).
				</p>
			</div>
			<!-- Fin de l’EPM -->












			<br /><br /><br />
			<h2 class="second-title">
				2. Les machines d’exercices quotidiens dans l’espace :
			</h2>

			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’ISS est munie de <b>différents appareils d’exercices</b> existant sur Terre, mais ils ont été modifiés pour simuler la gravité.
				</p>
			</div>



			<!-- L’exerciseur à contre-résistance (ARED) -->
			<br />
			<h2 class="underlined">
				L’exerciseur à contre-résistance (ARED) :
			</h2>

			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le but recherché par l’utilisation de cette machine est le <b>maintien des forces musculaires</b> et de la <b>densité osseuse</b> en ciblant les grands groupes de muscles.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’appareil est composé d’un <b>cylindre sous vide</b> qui peut exercer une résistance jusqu’à \(272 \text{ kg}\) sur une barre ou un câble.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’<b>ARED</b> imite les <b>poids et les haltères</b> des salles de fitness et musculation traditionnelles.
				</p>
			</div>
			<br />
			<!-- Fin de l’exerciseur à contre-résistance (ARED) -->
		</div>



		<!-- VIDEO D'ENTRAINEMENT 1 -->
		<div class="w3-container w3-card-4 w3-blue-grey">
			<script type="text/javascript">
				var entrainement_1;
				function entrainement_1_onYouTubeIframeAPIReady() {
					document.getElementById('entrainement_1_loading').style = "display: none;";
					document.getElementById('entrainement_1_control_buttons').style = "display: unset;";

					entrainement_1 = new YT.Player('entrainement_1_video', {
						videoId: 'bzPtpFLWdbE',
						events: {
							onReady: entrainement_1_initialize
						},
						playerVars : {
							disablekb: 1,
							rel: 0,
							showinfo: 0,
							controls: 0
						}
					});

					document.getElementById('entrainement_1_video').width = "100%";
				}

				var entrainement_1_time_update_interval;
				function entrainement_1_initialize() {
					clearInterval(entrainement_1_time_update_interval);
					entrainement_1_time_update_interval = setInterval(function() {
						entrainement_1_onTimeUpdate(entrainement_1.getCurrentTime());
					}, 100);
				}

				function entrainement_1_onTimeUpdate(time) {
					var text = entrainement_1_ontimeupdate(time);

					if(
						entrainement_1.getCurrentTime() >= (entrainement_1.getDuration() - 0.1)
						&& entrainement_1_pointer == 1 // Valeur maximum du pointeur
					) {
						entrainement_1.pauseVideo();
						entrainement_1.seekTo(0);
						entrainement_1_pointer = 0;
						return;
					}

					if(text != null) {
						document.getElementById('entrainement_1_text').style = "display: true;";
						document.getElementById('entrainement_1_text').style = "animation: 1s ease 0s 1 normal none running animatetop;";
						document.getElementById('entrainement_1_text').innerHTML = text;
						entrainement_1.pauseVideo();
					}
				}

				var entrainement_1_pointer = 0;
				function entrainement_1_ontimeupdate(currentTime) {
					if(currentTime >= 0 && entrainement_1_pointer == 0) {
						entrainement_1_pointer++;
						return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un astronaute sur l'ARED." + getStartButtonText();
					}
					return null;
				}
			</script>

			<h2 class="video-title w3-center">Vidéo d'entrainement - &copy;<a class="w3-hover-text-green" href="http://www.asc-csa.gc.ca/videos/recherche/1_ck2bdzwx/1_ctvpnn9l.mp4">NASA</a></h2>
			<div class="w3-content" id="entrainement_1_div" style="max-width:800px; position:relative">
				<div id="entrainement_1_loading">
					<img class="loader" src="/imgs/loading-gif.gif">
					<p class="loader-text">Si la vidéo ne charge pas, veuillez attendre une dizaine de secondes et si cela ne marche toujours pas, veuillez recharger la page.</p>
				</div>

				<div class="w3-card-4" id="entrainement_1_video"></div>
				<div class="control-buttons" id="entrainement_1_control_buttons" style="display: none;">
					<i class="material-icons" style="cursor: pointer;" onclick="
						entrainement_1.playVideo();
						document.getElementById('entrainement_1_text').removeAttribute('style');

						setTimeout(setAnimation, 1, 'entrainement_1_text');
						setTimeout(undisplayText, 1000, 'entrainement_1_text');
					">play_arrow</i>
					<i class="material-icons" style="cursor: pointer;" onclick="entrainement_1.pauseVideo()">pause</i>
					<i class="material-icons" style="cursor: pointer;" onclick="
						entrainement_1.seekTo(0);
						entrainement_1_pointer = 0;
						entrainement_1.pauseVideo();
					">replay</i>
				</div>

				<p id="entrainement_1_text" class="video_text"></p>
			</div>
		</div>
		<!-- FIN DE LA VIDEO D'ENTRAINEMENT 1 -->



		<div class="w3-content w3-container w3-padding-32">
			<!-- Les tapis roulants -->
			<div class="sub-partie">
				<h2 class="underlined">
					Les tapis roulants :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’utilisation des <b>tapis roulants</b> permet de travailler le <b>système cardio-vasculaire</b>, <b>musculaire</b> et <b>squelettique</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un <b>harnais</b> et des <b>cordons à ressorts</b> appliquent une tension aux épaules et aux hanches en fonction de la masse de l’astronaute. Par exemple, au <b>début</b> de sa mission, la tension exercée sur son corps sera égale à <b>\(60%\) de sa masse</b> alors qu’<b>au cours</b> de la mission, la tension sera équivalente à une valeur comprise entre <b>\(85%\) et \(100%\) de sa masse</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hormis le dispositif pour la tension, les tapis roulants de l’ISS sont <b>similaires à leurs homonymes terriens</b>.
				</p>
			</div>
			<!-- Fin des tapis roulants -->
		</div>



		<!-- VIDEO D'ENTRAINEMENT 2 -->
		<div class="w3-container w3-card-4 w3-blue-grey">
			<script type="text/javascript">
				var entrainement_2;
				function entrainement_2_onYouTubeIframeAPIReady() {
					document.getElementById('entrainement_2_loading').style = "display: none;";
					document.getElementById('entrainement_2_control_buttons').style = "display: unset;";

					entrainement_2 = new YT.Player('entrainement_2_video', {
						videoId: 'iGBPIooIZsA',
						events: {
							onReady: entrainement_2_initialize
						},
						playerVars : {
							disablekb: 1,
							rel: 0,
							showinfo: 0,
							controls: 0
						}
					});

					document.getElementById('entrainement_2_video').width = "100%";
				}

				var entrainement_2_time_update_interval;
				function entrainement_2_initialize() {
					clearInterval(entrainement_2_time_update_interval);
					entrainement_2_time_update_interval = setInterval(function() {
						entrainement_2_onTimeUpdate(entrainement_2.getCurrentTime());
					}, 100);
				}

				function entrainement_2_onTimeUpdate(time) {
					var text = entrainement_2_ontimeupdate(time);

					if(
						entrainement_2.getCurrentTime() >= (entrainement_2.getDuration() - 0.1)
						&& entrainement_2_pointer == 1 // Valeur maximum du pointeur
					) {
						entrainement_2.pauseVideo();
						entrainement_2.seekTo(0);
						entrainement_2_pointer = 0;
						return;
					}

					if(text != null) {
						document.getElementById('entrainement_2_text').style = "display: true;";
						document.getElementById('entrainement_2_text').style = "animation: 1s ease 0s 1 normal none running animatetop;";
						document.getElementById('entrainement_2_text').innerHTML = text;
						entrainement_2.pauseVideo();
					}
				}

				var entrainement_2_pointer = 0;
				function entrainement_2_ontimeupdate(currentTime) {
					if(currentTime >= 0 && entrainement_2_pointer == 0) {
						entrainement_2_pointer++;
						return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un astronaute sur un tapis roulant." + getStartButtonText();
					}
					return null;
				}
			</script>

			<h2 class="video-title w3-center">Vidéo d'entrainement - &copy;<a class="w3-hover-text-green" href="http://www.asc-csa.gc.ca/videos/recherche/1_hjhxomuo/1_fl7n4k4p.mp4">NASA</a></h2>
			<div class="w3-content" id="entrainement_2_div" style="max-width:800px; position:relative">
				<div id="entrainement_2_loading">
					<img class="loader" src="/imgs/loading-gif.gif">
					<p class="loader-text">Si la vidéo ne charge pas, veuillez attendre une dizaine de secondes et si cela ne marche toujours pas, veuillez recharger la page.</p>
				</div>

				<div class="w3-card-4" id="entrainement_2_video"></div>
				<div class="control-buttons" id="entrainement_2_control_buttons" style="display: none;">
					<i class="material-icons" style="cursor: pointer;" onclick="
						entrainement_2.playVideo();
						document.getElementById('entrainement_2_text').removeAttribute('style');

						setTimeout(setAnimation, 1, 'entrainement_2_text');
						setTimeout(undisplayText, 1000, 'entrainement_2_text');
					">play_arrow</i>
					<i class="material-icons" style="cursor: pointer;" onclick="entrainement_2.pauseVideo()">pause</i>
					<i class="material-icons" style="cursor: pointer;" onclick="
						entrainement_2.seekTo(0);
						entrainement_2_pointer = 0;
						entrainement_2.pauseVideo();
					">replay</i>
				</div>

				<p id="entrainement_2_text" class="video_text"></p>
			</div>
		</div>
		<!-- FIN DE LA VIDEO D'ENTRAINEMENT 2 -->



		<div class="w3-content w3-container w3-padding-32">
			<!-- Les vélos stationnaires -->
			<div class="sub-partie">
				<h2 class="underlined">
					Les vélos stationnaires :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les <b>vélos stationnaires</b> améliorent la <b>santé cardiovasculaire</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les astronautes s’installent sur le vélo, en mettant leur pieds sur les <b>pédales à brides</b> et en enfilant le <b>harnais dorsal</b> pour se maintenir en place.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le harnais est <b>similaire à celui du tapis roulant</b>, il est fait pour exercer une tension sur le corps.
				</p>
			</div>
			<!-- Fin des vélos stationnaires -->
		</div>



		<!-- VIDEO D'ENTRAINEMENT 3 -->
		<div class="w3-container w3-card-4 w3-blue-grey">
			<script type="text/javascript">
				var entrainement_3;
				function entrainement_3_onYouTubeIframeAPIReady() {
					document.getElementById('entrainement_3_loading').style = "display: none;";
					document.getElementById('entrainement_3_control_buttons').style = "display: unset;";

					entrainement_3 = new YT.Player('entrainement_3_video', {
						videoId: 'dEaz55UFmB8',
						events: {
							onReady: entrainement_3_initialize
						},
						playerVars : {
							disablekb: 1,
							rel: 0,
							showinfo: 0,
							controls: 0
						}
					});

					document.getElementById('entrainement_3_video').width = "100%";
				}

				var entrainement_3_time_update_interval;
				function entrainement_3_initialize() {
					clearInterval(entrainement_3_time_update_interval);
					entrainement_3_time_update_interval = setInterval(function() {
						entrainement_3_onTimeUpdate(entrainement_3.getCurrentTime());
					}, 100);
				}

				function entrainement_3_onTimeUpdate(time) {
					var text = entrainement_3_ontimeupdate(time);

					if(
						entrainement_3.getCurrentTime() >= (entrainement_3.getDuration() - 0.1)
						&& entrainement_3_pointer == 1 // Valeur maximum du pointeur
					) {
						entrainement_3.pauseVideo();
						entrainement_3.seekTo(0);
						entrainement_3_pointer = 0;
						return;
					}

					if(text != null) {
						document.getElementById('entrainement_3_text').style = "display: true;";
						document.getElementById('entrainement_3_text').style = "animation: 1s ease 0s 1 normal none running animatetop;";
						document.getElementById('entrainement_3_text').innerHTML = text;
						entrainement_3.pauseVideo();
					}
				}

				var entrainement_3_pointer = 0;
				function entrainement_3_ontimeupdate(currentTime) {
					if(currentTime >= 0 && entrainement_3_pointer == 0) {
						entrainement_3_pointer++;
						return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un astronaute sur un vélo stationnaire (la vidéo n'a pas de son)." + getStartButtonText();
					}
					return null;
				}
			</script>

			<h2 class="video-title w3-center">Vidéo d'entrainement - &copy;<a class="w3-hover-text-green" href="http://www.asc-csa.gc.ca/videos/recherche/1_sn1khbbp/1_uh3rryhl.mp4">NASA</a></h2>
			<div class="w3-content" id="entrainement_3_div" style="max-width:800px; position:relative">
				<div id="entrainement_3_loading">
					<img class="loader" src="/imgs/loading-gif.gif">
					<p class="loader-text">Si la vidéo ne charge pas, veuillez attendre une dizaine de secondes et si cela ne marche toujours pas, veuillez recharger la page.</p>
				</div>

				<div class="w3-card-4" id="entrainement_3_video"></div>
				<div class="control-buttons" id="entrainement_3_control_buttons" style="display: none;">
					<i class="material-icons" style="cursor: pointer;" onclick="
						entrainement_3.playVideo();
						document.getElementById('entrainement_3_text').removeAttribute('style');

						setTimeout(setAnimation, 1, 'entrainement_3_text');
						setTimeout(undisplayText, 1000, 'entrainement_3_text');
					">play_arrow</i>
					<i class="material-icons" style="cursor: pointer;" onclick="entrainement_3.pauseVideo()">pause</i>
					<i class="material-icons" style="cursor: pointer;" onclick="
						entrainement_3.seekTo(0);
						entrainement_3_pointer = 0;
						entrainement_3.pauseVideo();
					">replay</i>
				</div>

				<p id="entrainement_3_text" class="video_text"></p>
			</div>
		</div>
		<!-- FIN DE LA VIDEO D'ENTRAINEMENT 3 -->
		<!-- FIN DU SOMMAIRE DE LA PARTIE B. Comment limiter les effets indésirables dans l’espace ? -->





































		<!-- PARTIE C. Limiter les effets naturels -->
		<div class="w3-container w3-content w3-padding-32" id="partie_C">
			<h3 class="main-title w3-center">
				C. Limiter les effets naturels :
			</h3>



			<!-- Limiter les effets des UV -->
			<div class="sub-partie">
				<h2 class="underlined">
					Limiter les effets des UV :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comme vu précédemment, les <b>rayons UV</b> sont <b>nocifs</b> pour la santé et cela requiert donc des <b>protections spécifiques et adaptées</b> afin d’être le moins exposé possible.
				</p>
			</div>
			<!-- Fin de limiter les effets des UV -->



			<!-- Les protections -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Les protections :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les <b>combinaisons spatiales</b>, constituées de <b>19 couches</b>, permettent aux astronautes de se protéger lors de leurs <b>sorties extra-véhiculaire</b> mais également lors du <b>décollage</b> et de l'<b>atterrissage</b>, qui sont assez violents.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elles leur permettent également de respirer ou encore de ne pas être gênés par le soleil, en réduisant et réfléchissant les rayonnements grâce au <b>casque "Extravehicular Visor Assembly"</b> (<i>EVVA</i>) et à des <b>protections oculaires</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La combinaison est composée de <b>deux vêtements principaux</b> : le premier est le <b>sous-vêtement</b>. Il est prévu pour le confort de l’astronaute notamment grâce la <b>circulation d’eau</b> ou le <b>circuit de refroidissement</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le deuxième vêtement est la <b>partie pressurisée</b>, celle qui protège l’astronaute de tous les dangers présents dans l’espace. Cette partie correspond aux couches allant de la quatrième à la huitième.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elles sont réalisées à partir de <b>Mylar</b>, qui est la matière que l’on utilise pour les <b>couvertures isolantes</b>, et de Nylon comme <b>isolant thermique</b>. Ces matériaux évitent également l'apparition de moisissures ou de tissus bactériens.
				</p>
			</div>
			<!-- Fin des protections -->



			<!-- Limiter les effets des radiations -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Limiter les effets des radiations :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comme vu précédemment, les <b>radiations</b> sont <b>hautement nocives</b> pour la santé et nécessitent donc des protections très spécifiques et adaptées afin d’être le moins exposé possible.
				</p>
			</div>
			<!-- Fin de limiter les effets des radiations -->



			<!-- Prévenir les cas d’irradiations dans la station -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Prévenir les cas d’irradiations dans la station :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>dose de radiations</b> peut être mesurée en <b>quantité reçue</b>, mais surtout <b>en fonction de son impact</b> sur le corps et les <b>dommages</b> qu’elle peut y entraîner.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dans les <b>navettes</b>, les astronautes portent des <b>compteurs</b> déterminant la dose de radiations qu’ils reçoivent durant leur séjour. L’unité de ce compteur est le <b>millisievert</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils ne restent généralement <b>pas plus de 6 mois dans l’espace</b>, et y retournent rarement, pour des questions de santé car ils risquent de voir leur corps subir des <b>dommages irréversibles</b> en cas de séjours dans l’espace trop importants.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’ISS est, équipée de <b>détecteurs de rayonnements</b>, qui sont utiles pour des recherches scientifiques, par exemple pour détecter les sources de certains rayonnements, étudier les interactions entre matière et antimatière ...
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais ils sont également indispensables pour des <b>raisons médicales</b> : en cas de fuite ou de rayonnements trop importants, les astronautes doivent <b>intervenir</b> dans la zone, la <b>condamner</b> ou mettre en place des <b>procédures d’évacuation</b> en situation critique.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un astronaute <b>irradié</b> peut aussi être <b>renvoyé en urgence</b> sur Terre, car s’il reste plus longtemps dans la station, il aggraverait son cas.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un <b>contrôle strict</b> de la <b>quantité de rayonnement</b> permet aux astronautes de se relayer ou d’organiser les sorties dans l’espace pour limiter la dose de radiations reçue par chacun.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les compteurs en place sont des <b>formes dérivées</b> ou améliorées du <b>compteur Geiger</b>, toujours efficace malgré son âge avancé (<i>imaginé par Hans Geiger en 1913 et construit pour la première fois en 1928 par Walther Müller</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il y a un jeu de <b>onze dosimètres passifs</b> présents en permanence à bord du laboratoire européen Columbus, qui sont <b>remplacés tous les six mois</b> environ, à l'occasion des <b>rotations d'équipage</b>. Thomas Pesquet était, entre autre, chargé lors de sa mission de récupérer les capteurs installés en juin par Tim Peake, et de déployer un nouveau jeu.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les informations servent à l’<b>expérience Dosis 3D</b> (<i>Dose Distribution Inside the ISS 3D</i>), qui consiste à <b>mesurer les radiations</b> et à essayer de comprendre comment elles <b>traversent les cloisons</b> de la station.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les données, qui sont <b>collectées en continu</b> et couplées avec celles recueillies par d’autres partenaires internationaux (<i>Jaxa, Nasa et Roscosmos</i>) doivent permettre de <b>créer une carte tridimensionnelle des radiations</b> de chaque module de l’ISS.
				</p>
			</div>
			<!-- Prévenir les cas d’irradiations dans la station -->
		</div>
		<!-- PARTIE C. Limiter les effets naturels -->














































		<!-- PARTIE D. Conclusion -->
		<div class="w3-content w3-container w3-padding-64" id="partie_D">
			<h3 class="main-title w3-center">
				D. Conclusion :
			</h3>



			<!-- Conclusion -->
			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les scientifiques ont donc trouvé <b>diverses méthodes</b> pour limiter les dangers de l’espace comme les <b>centrifugeuses</b>, les <b>bassins d’eau</b> ou les <b>vols dans des avions \(0G\)</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils ont également contribué à la mise en place de <b>projets innovants</b>, <b>CADMOS</b> et <b>SarcoLab</b> en sont des exemples, ainsi qu’installé des <b>machines d’exercices quotidiens</b> comme les vélos, les tapis roulants ou encore l’exerciseur à contre-résistance.


					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De <b>nouvelles combinaisons</b> et des <b>contrôles réguliers</b> sont constamment effectués afin de protéger la santé des astronautes.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grâce à toutes ses avancées et protections, comment sera le futur de l’exploration spatiale ? Sera-t-il possible d’aller sur Mars avec les contraintes économiques et technologiques de notre époque ? Nous étudierons cela dans la <b>partie III</b> de notre TPE.
				</p>
			</div>
			<!-- Conclusion -->

			<div class="main-text" style="padding-left: 35%; padding-top: 4%;">
				<a href="/partie_III/#home" class="custom-button w3-button w3-black">
					<i class="fa fa-cog w3-margin-right"></i>Accéder à la Partie III du TPE
				</a>
			</div>
		</div>
		<!-- FIN PARTIE D. Conclusion -->

































		<script type="text/javascript">
			var slideIndex = 1;

			function plusDivs(n) {
				slideIndex = slideIndex + n;
				showDivs(slideIndex);
			}

			function showDivs(n) {
				var x = document.getElementsByClassName("customSlides");
				if (n > x.length) {slideIndex = 1}
				if (n < 1) {slideIndex = x.length} ;

				for (i = 0; i < x.length; i++) {
				    x[i].style.display = "none";
				}

				x[slideIndex-1].style.display = "block";
			}

			showDivs(1);







			var cancel_wait = false;

			function onYouTubeIframeAPIReady() {
				cancel_wait = true;
				entrainement_1_onYouTubeIframeAPIReady();
				entrainement_2_onYouTubeIframeAPIReady();
				entrainement_3_onYouTubeIframeAPIReady();
			}

			setTimeout(function(){
				if(!cancel_wait) {
					onYouTubeIframeAPIReady(); // "forcage du chargement de l'API youtube" après 6 secondes d'attente
				}
			}, 3000);
		</script>

<%- include('../inc/footer') %>
