<%- include('../inc/header') %>

		<!-- MATH ML REFERENCE : https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference -->

		<!-- Header -->
		<header class="w3-theme" id="myHeader">
			<i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>

			<div class="image-background-1 w3-center">
				<br />
				<h4 class="global-title w3-animate-bottom">PARTIE III</h4>
				<i style="color: #cbcbcb;">
					<h1 class="w3-xlarge w3-animate-bottom">Le futur de l’exploration spatiale</h1>
				</i>
				<br />
			</div>
		</header>
		<!-- Fin du header -->















		<!-- SOMMAIRE DE LA PARTIE III -->
		<div class="w3-container w3-padding-32" id="sommaire">
			<h3 class="main-title w3-center">
				SOMMAIRE :
			</h3>

			<br />
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-half">
					<div class="w3-card w3-container" style="min-height: 220px">
						<a class="w3-hover-text-blue-grey" href="#partie_A">
							<h3 class="underlined">Partie A</h3>
						</a>
						<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_A'"></i>
						<p class="main-text w3-content">Les autres risques de l’exploration spatiale et le voyage sur Mars</p>
					</div>
				</div>

				<div class="w3-half">
					<div class="w3-card w3-container" style="min-height: 220px">
						<a class="w3-hover-text-blue-grey" href="#partie_B">
							<h3 class="underlined">Partie B</h3>
						</a>
						<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_B'"></i>
						<p class="main-text w3-content">Les futurs plans de la conquête spatiale</p>
					</div>
				</div>
			</div>



			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-card w3-container" style="min-height: 220px">
					<a class="w3-hover-text-blue-grey" href="#partie_C">
						<h3 class="underlined">Partie C</h3>
					</a>
					<i class="<%= 'fa fa-cog image-background-' + Math.round(Math.random()*9+1) + '-font w3-margin-bottom w3-text-theme' %>" style="font-size:90px; cursor: pointer;" onclick="document.location = '#partie_C'"></i>
					<p class="main-text w3-content">Conclusion</p>
				</div>
			</div>


			<!-- Introduction -->
			<div class="sub-partie w3-padding-32">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A l’heure actuelle, le record du plus long vol spatial habité est détenu par le russe <b>Valeri Polyakov</b>, parti en janvier 1994, et qui est resté <b>437 jours</b> soit <b>14 mois de suite</b> dans la station Mir.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nous savons également qu’un aller-retour sur Mars équivaudrait à environ <b>12 à 18 mois de trajet</b>, juste pour le transport (<i>c’est-à-dire sans compter le temps où l’équipage resterait sur Mars</i>). Les agences spatiales développent donc des solutions pour éviter que les astronautes, en débarquant sur Mars, soient comme Thomas Pesquet à son retour sur Terre et ne puissent plus se déplacer.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le futur de l’exploration spatiale comporte des risques autres que ceux vus dans les parties précédentes mais malgré ces risques, les agences spatiales continuent de développer de futures missions spatiales <b>différentes en terme d’objectifs et de destinations</b>.
				</p>
			</div>
			<!-- Fin de l'Introduction -->
		</div>
		<!-- FIN DU SOMMAIRE DE LA PARTIE III -->







































		<!-- PARTIE A. Les autres risques de l’exploration spatiale et le voyage sur Mars -->
		<div class="w3-container w3-content w3-padding-16" id="partie_A">
			<h3 class="main-title w3-center">
				A. Les autres risques de l’exploration spatiale et le voyage sur Mars :
			</h3>
			<h2 class="second-title">
				1. Les découvertes :
			</h2>



			<!-- Quelques explorations -->
			<div class="sub-partie">
				<h2 class="underlined">
					Quelques explorations :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’homme a une connaissance de Mars grâce aux nombreux rovers envoyés depuis <b>1971 avec Mars 3</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La mission ExoMars 2016 étudie <b>les gaz</b> présents à <b>l’état de traces</b> dans l’atmosphère comme le <b>méthane</b> (<i>Sur Terre, il est produit à \(90 \text{%}\)</i> par les êtres vivants). Elle essaye aussi de <b>détecter des traces de vie</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>module MAVEN</b> (<i>Mars Atmosphere and Volatile EvolutioN</i>) lancé le <b>18 Novembre 2013</b>, a pour mission de trouver pourquoi l’atmosphère martienne a en grande partie disparu.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La <b>sonde Mars Express</b> est en <b>orbite autour de Mars</b> depuis le <b>25 Décembre 2003</b>, sa durée de vie était de deux ans au départ et a été prolongée jusqu’à fin de 2018. Mars Express a <b>trois missions importantes</b> (<i>passez votre curseur sur les images pour voir ces missions</i>) :
				</p>
			</div>
		</div>

		<div class="w3-container w3-padding-16">
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-third">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/spicam.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>SPICAM</h3>
							<p>
								<b>SPICAM</b> : (<i>SPectroscopy for the Investigation of the Characteristics of the Atmosphere or Mars</i>) est chargé d’analyser l’atmosphère martienne.
								<br />
							</p>
							<i class="copyright">&copy;CNES - SPICAM - <a href="https://mars-express.cnes.fr/fr/MEX/Fr/spicam.htm">CNES</a></i>
						</div>
					</div>
				</div>

				<div class="w3-third">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/omega.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>OMEGA</h3>
							<p>
								<b>OMEGA</b> : (<i>Observatoire pour la Minéralogie, l'Eau, les Glaces et l'Activité</i>) a pour but de <b>cartographier la planète</b> et <b>d’analyser les composants de la surface</b>.
								<br />
							</p>
							<i class="copyright">&copy;CNES - OMEGA - <a href="https://mars-express.cnes.fr/fr/MEX/Fr/omega.htm">CNES</a></i>
						</div>
					</div>
				</div>

				<div class="w3-third">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/aspera3.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>ASPERA-3</h3>
							<p>
								<b>ASPERA-3</b> : (<i>Analyser of Space Plasmas and EneRgetic Atoms</i>) étudie ce qui a pu causer <b>l’échappement de la vapeur d’eau</b> et <b>d’autres gaz</b> dans l’espace.
								<br />
							</p>
							<i class="copyright">&copy;CNES - ASPERA-3 - <a href="https://mars-express.cnes.fr/fr/MEX/Fr/aspera.htm">CNES</a></i>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin de quelques explorations -->
		</div>



		<div class="w3-container w3-content w3-padding-16" style="padding-top: 6px !important;">
			<br /><br /><br />
			<!-- Quelques connaissances et découvertes -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Quelques connaissances et découvertes :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les <b>premières photos de Mars</b> ont été prises en <b>196</b>. Sa surface est déserte et on y trouve de <b>nombreux cratères</b>, <b>canyons</b> ou <b>volcans</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle possède deux astres : <b>Phobos</b> et <b>Deimos</b>. Appelée aussi <b>"la planète rouge"</b> à cause de son sol <b>d’oxyde de fer</b>, son <b>diamètre</b> mesure environ la <b>moitié de celui de la Terre</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sa <b>température moyenne</b> est de \(-63 \text{ °C}\) et comme toute planète tellurique (<i>Mercure, Vénus,Terre</i>) il y a des <b>tempêtes de poussières</b>. Grâce à son axe de rotation, elle possède <b>des saisons</b> tout comme la Terre.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mars est environ \(1,5 \text{ fois}\) plus éloignée du Soleil que la Terre. Il a fallu <b>40 ans</b> pour savoir qu’il y a eu de <b>l’eau liquide sur la planète</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mars <b>avait une atmosphère permettant à la planète d'abriter la vie</b>, mais cette dernière a maintenant <b>presque disparue</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle est composée de <b>96% de dioxyde de carbone</b> (<i>CO2</i>), \(2 \text{%}\) <b>d’argon</b> (<i>Ar</i>), \(1,9 \text{%}\) <b>d’azote</b> (<i>N2 et NO</i>), et pour le reste de <b>traces d’oxygène</b>, de <b>monoxyde de carbone</b>, de <b>vapeur d’eau</b> et <b>d’autres gaz</b>. Environ \(100 \text{ grammes/seconde}\) de gaz s’échappent dans l’espace en partie à cause des <b>vents</b> et des <b>rayonnements ultraviolets solaires</b>. Le Soleil est donc le <b>principal responsable</b> de la situation sur Mars.
				</p>
			</div>
			<!-- Fin de quelques connaissances et découvertes -->











			<br /><br /><br />
			<h2 class="second-title">
				2. Un voyage sur Mars ?
			</h2>

			<!-- Les explorations prévues -->
			<div class="sub-partie">
				<h2 class="underlined">
					Les explorations prévues :
				</h2>

				<p class="main-text w3-content">
					Voici la liste des explorations prévues pour les années à venir (<i>passez votre curseur sur les images pour voir ces explorations</i>) :
				</p>
			</div>
		</div>

		<div class="w3-container w3-padding-16">
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-third">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/insight.jpg" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>MARS INSIGHT</h3>
							<p>
								<b>InSight</b> : Avec deux ans de retard, la <b>station géophysique</b> décollera en <b>mai 2018</b> et devrait attérir normalement en <b>novembre 2018</b> sur Mars.
								<br />InSight aura besoin d’énergie pendant deux années terrestres. Les ingénieurs ont exposé les <b>panneaux solaires</b> de la station à des rayons solaires identiques à ceux qu’elle recevra sur Mars. Ces derniers ont été transformés en énergie comme prévu.

								<br /><br />Elle a pour mission <b>d’explorer le sous-sol martien</b> afin de découvrir si le noyau de Mars est <b>solide ou liquide</b> et comment la planète <b>a perdu son champ magnétique</b>.
								<br />
							</p>
							<i class="copyright"><s>&copy;</s>Domaine Public - Représentation de Mars InSight - <a href="https://www.jpl.nasa.gov/missions/insight/">NASA</a></i>
						</div>
					</div>
				</div>

				<div class="w3-third">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/exomars.jpg" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>EXOMARS 2020</h3>
							<p>
								<b>ExoMars 2020</b> : La deuxième mission ExoMars a pour but de <b>prendre des mesures de l’environnement</b> pendant une année martienne et d’analyser le sol à l’aide d’une foreuse pouvant extraire jusqu’à deux mètres de profondeur.
								<br />
							</p>
							<i class="copyright">&copy;ESA - Représentation d'Exomars - <a href="http://www.esa.int/Our_Activities/Space_Science/ExoMars/Second_ExoMars_mission_moves_to_next_launch_opportunity_in_2020">EXOMARS</a></i>
						</div>
					</div>
				</div>

				<div class="w3-third">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/mars2020.jpg" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>MARS 2020</h3>
							<p>
								<b>Rover Mars 2020</b> : fabriquer de l’oxygène à partir des ressources de Mars (<i>dioxyde de carbone présents à plus de \(95 \text{%}\) dans l’atmosphère</i>).
								<br />
							</p>
							<i class="copyright"><s>&copy;</s>Domaine Public - Représentation de Mars 2020 - <a href="https://mars.nasa.gov/mars2020/mission/rover/">NASA</a></i>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin des explorations prévues -->
		</div>
		<!-- FIN PARTIE A. Les autres risques de l’exploration spatiale et le voyage sur Mars -->

























		<!-- PARTIE B. Les futurs plans de la conquête spatiale -->
		<div class="w3-container w3-content w3-padding-16" id="partie_B">
			<br /><br /><br />
			<h3 class="main-title w3-center">
				B. Les futurs plans de la conquête spatiale :
			</h3>
			<h2 class="second-title">
				1. La fin de l’ISS :
			</h2>



			<!-- Introduction -->
			<div class="sub-partie">
				<p class="main-text w3-content" style="padding-top: 13px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’ISS, <b>imaginée en 1985 et construite en 1998</b>, fête cette année ses vingt ans. Mais une question se pose néanmoins, que <b>va-t-elle devenir</b> une fois qu’elle ne sera <b>plus utilisable</b> ?
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dès 2011, La NASA annonce que la désorbitation de l’ISS se passera en 2020.
				</p>
			</div>
			<!-- Fin de l'introduction -->



			<!-- La désorbitation -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La désorbitation :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C’est une <b>manoeuvre</b> (<i>allumages brefs des moteurs ou des propulseurs</i>) pendant laquelle un <b>engin spatial va sortir de l’orbite</b> qu’il décrivait autour d’un astre dans le but de <b>provoquer sa chute</b> ou <b>d’atteindre un point précis</b> à la surface de cet astre.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais cette date qui semblait si certaine, a été <b>repoussée à 2028</b>. L’ISS sera occupée <b>jusqu’en 2024</b> (<i>sauf problèmes majeurs : pannes ou accidents</i>) afin de <b>terminer les recherches scientifiques en cours </b>et de préparer les <b>futures explorations</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La NASA avait défini premièrement <b>2020 comme date d'échéance</b>, pensant que les avancées technologiques seraient <b>capables de nous emmener sur Mars</b> à cette date.
				</p>
			</div>
			<!-- Fin de la désorbitation -->



			<!-- Que va devenir l’ISS après 2028 ? -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Que va devenir l’ISS après 2028 ?
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De <b>nombreuses hypothèses</b> sont émises mais seules certaines sont possibles. Constituée d’une partie russe et d’une partie américaine, aussi appelée <b>partie occidentale</b>, elle peut être <b>découpée</b> et <b>rendue aux pays</b> ou bien être <b>détruite</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La Russie a également proposé de <b>garder la structure actuelle de l’ISS</b>, de rajouter de <b>nouveaux modules</b> et de les utiliser comme <b>chambres d’hôtel</b> ou de les <b>privatiser</b>, afin de <b>financer une partie des dépenses</b> pour les prochains objectifs.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>retard</b> de la <b>désorbitation de l’ISS</b> est accueillie comme une <b>bonne nouvelle</b> mais de nombreuses questions demeurent concernant le <b>financement</b>.
				</p>
			</div>
			<!-- Que va devenir l’ISS après 2028 ? -->













			<br /><br /><br />
			<h2 class="second-title">
				2. Le nouveau budget de la NASA :
			</h2>



			<!-- Introduction -->
			<div class="sub-partie">
				<p class="main-text w3-content" style="padding-top: 13px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>11 décembre 2017</b>, soit <b>45 ans après le dernier voyage sur la Lune</b>, le président des Etats-Unis Donald Trump a signé la "<b>Space Policy Directive 1</b>" (<i>directive sur la politique spatiale</i>) en présence de l'astronaute <b>Jack Schmitt</b>, qui a participé à la dernière mission habitée sur la Lune.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette directive a pour objectif de <b>redynamiser le programme américain d'exploration spatiale humaine</b>.
				</p>
			</div>
			<!-- Fin de l'introduction -->



			<!-- Les nouveaux objectifs de la NASA -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Les nouveaux objectifs de la NASA :
				</h2>

				<blockquote>
					<i>Mener un programme d'exploration novateur et durable avec des partenaires commerciaux et internationaux pour permettre l'expansion humaine à travers le système solaire et pour ramener sur Terre de nouvelles connaissances et opportunités.
					<br />En commençant par des missions au-delà de l'orbite terrestre basse, les États-Unis conduiront le retour des humains sur la Lune pour une exploration et une utilisation à long terme, suivies par des missions humaines vers Mars et d'autres destinations

					<br /><b>- Donald Trump dans son mémorandum</b></i>
				</blockquote>
			</div>
			<!-- Fin des nouveaux objectifs de la NASA -->



			<!-- Le nouveau budget de la NASA -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Le nouveau budget de la NASA :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le président a demandé le <b>vote d’un budget plus conséquent pour la NASA</b>, qui voyait son budget réduire depuis Obama.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En effet, le <b>budget actuel de la NASA</b> est de \(0,4 \text{%}\) du budget des États-Unis contre \(4 \text{%}\) du temps du <b>programme Apollo</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La NASA va pouvoir <b>accélérer ses programmes</b> des technologies nécessaires à l'exploration spatiale en espace profond. Quarante-cinq ans après la dernière mission Apollo 17 en 1972, ce retour annoncé sur la Lune <b>serait très différent des allers-retours</b> des missions Apollo.
				</p>
			</div>
			<!-- Fin du nouveau budget de la NASA -->



			<!-- Conclusion -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Conclusion :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il est actuellement question de <b>déployer des infrastructures</b> pour des missions <b>plus ambitieuses de colonisation</b> de l'espace proche de la Terre, sur et autour de la Lune, puis vers Mars.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il s’agirait tout d’abord de la <b>réalisation d'un avant poste lunaire</b>, le <b>Deep Space Gateway</b> que nous développons plus bas, qui sera notamment utilisé comme <b>point de départ pour le projet de véhicule spatial habité vers Mars</b>.
				</p>
			</div>
			<!-- Fin de la conclusion -->
















			<br /><br /><br />
			<h2 class="second-title">
				3. La chasse aux astéroïdes :
			</h2>



			<!-- Qu’est-ce qu’un astéroïde ? -->
			<div class="sub-partie">
				<h2 class="underlined">
					Qu’est-ce qu’un astéroïde ?
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C’est un <b>résidu</b> constitué de <b>roches provenant d’une planète non formée</b> entre Mars et Jupiter et dont la taille varie de <b>dix à mille mètres</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plus de <b>390 000 astéroïdes</b> ont déjà été découverts. Lorsqu’ils croisent l’orbite terrestre, on les appelle des <b>géocroiseurs</b>.
				</p>
			</div>
			<!-- Fin de qu’est-ce qu’un astéroïde ? -->


			<!-- La chasse aux astéroïdes -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La chasse aux astéroïdes :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’objectif principal de cette mission est <b>d’arriver avant 2025 à modifier la trajectoire des astéroïdes</b> afin d’éviter une collision avec la Terre.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais les scientifiques ont aussi pour but de <b>prélever</b> et <b>analyser des échantillons</b> afin de mieux comprendre la <b>formation de ces corps rocheux</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La NASA a également comme objectif le <b>contrôle d’un astéroïde</b> afin d’y envoyer des <b>robots</b> ou des <b>hommes</b> afin d’exploiter les ressources telle que l’eau.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les scientifiques sont plutôt confiants et pensent qu’un <b>homme arrivera à marcher sur un astéroïde</b> avant de l’avoir fait sur Mars.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais cette mission est aussi un moyen de <b>perfectionner les engins spatiaux</b> et les <b>combinaisons</b> afin d’aller ensuite plus facilement sur la planète rouge. Le but est également de <b>sensibiliser la population mondiale sur la réalité des astéroïdes</b> et ne plus se baser sur les films sur l’espace.
				</p>
			</div>
			<!-- Fin de la chasse aux astéroïdes -->



			<!-- La nouvelle combinaison -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					La nouvelle combinaison :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La NASA met au point une <b>nouvelle combinaison basée sur celles prévues pour les sorties extra-véhiculaires</b>. Les astronautes les testent dans le <b>laboratoire de flottabilité neutre</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ce test permet aux ingénieurs de voir <b>les défauts de leur invention</b> et de trouver une <b>solution aux nouveaux problèmes</b> afin de l’améliorer.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mais l’objectif final visé par les organisations spatiales, est <b>d’étendre la présence humaine dans la totalité du système solaire</b> afin de pouvoir répondre à nos nombreuses questions.
				</p>
			</div>
			<!-- Fin de la nouvelle combinaison -->
















			<br /><br /><br />
			<h2 class="second-title">
				4. Le retour sur la Lune :
			</h2>



			<!-- Introduction -->
			<div class="sub-partie">
				<p class="main-text w3-content" style="padding-top: 13px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Depuis la mission <b>Apollo 17 en 1972</b>, aucun être humain n’a remis les pieds sur la Lune : personne n’est allé-là au delà de l’orbite basse terrestre depuis cette année, en majeure partie pour des <b>raisons économiques</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cependant, depuis quelques années, les agences souhaitent y <b>retourner</b> et coloniser la Lune pour se préparer à une éventuelle colonisation de Mars.
				</p>
			</div>
			<!-- Fin de l'introduction -->



			<!-- Chinois -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Chinois :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Chang’e 4</b> (<i>aussi appelée CE 4</i>) est une <b>sonde spatiale lunaire chinoise du CNSA</b> (<i>pour China National Space Administration</i>) dont le <b>lancement</b> est prévu pour <b>fin 2018</b>. Il comprend un <b>atterrisseur</b>, <b>un rover</b> et doit se poser sur la <b>face cachée de la Lune</b>.
					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chang’e 4 Relay (<i>aussi appelé CE 4 Relay</i>) est le <b>relais satellite</b> pour la mission <b>CE 4</b> dont le but est de <b>relier les informations du rover à la Terre</b>. Ce relais va être <b>déployé dans un point de Lagrange</b> entre la Terre et la Lune et son lancement est prévu pour <b>juin 2018</b>.

					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le satellite relais comprend un <b>spectromètre radio</b> et <b>des caméras</b> pour identifier <b>les flashs provoqués par des impacts</b> sur la surface de la Lune (<i>dus à des astéroïdes par exemple</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>L’atterrisseur</b> comprendra une <b>caméra</b>, un <b>analyseur de poussière lunaire</b>, un <b>instrument de mesure du champ électrique</b>, un <b>dosimètre à neutrons</b> (<i>mesurant la quantité d’eau dans le sous-sol lunaire</i>) et <b>d’autres outils encore non-divulgués</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le <b>rover</b>, lui, sera équipé d’un <b>sismomètre</b>, d’une <b>caméra panoramique</b>, d’un <b>spectromètre infrarouge</b> ainsi qu’un radar pour <b>analyser le sous-sol lunaire</b>.
				</p>
			</div>
			<!-- Fin des Chinois -->



			<!-- Japonais -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Japonais :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Ispace</b> est une <b>société privée ayant gagné le "Google Lunar XPRIZE" </b>(<i>concours pour déterminer les potentiels candidats à l’exploration lunaire</i>) et qui a un projet "<b>Moon Valley</b>" se passant en <b>plus de 10 étapes et se déroulant de 2017 à 2022</b> (<i>passez votre curseur sur les images pour voir ces étapes</i>) :
				</p>
			</div>
		</div>

		<div class="w3-container w3-padding-16">
			<div class="w3-row-padding w3-center w3-margin-top">
				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/ispace_m1.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>M1</h3>
							<p>
								<b>M1</b> (<i>2019 à 2020</i>) : mise en place de <b>l’atterrisseur en orbite lunaire</b> pour réaliser des observations à la surface de la Lune.
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - M1 - <a href="/imgs/ispace_m1.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>

				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/ispace_m2.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>M2</h3>
							<p>
								<b>M2</b> (<i>2020 à 2021</i>) : l'<b>atterrissage</b> et le <b>déploiement de rovers d’exploration</b> sur la surface lunaire.
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - M2 - <a href="/imgs/ispace_m2.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>

				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/ispace_m3_9.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>M3 à M9</h3>
							<p>
								<b>M3 à M9</b> (<i>2021</i>) : construction d’une <b>plateforme de transport</b> entre la Terre et la Lune ainsi que mise en place d’un <b>système de collecteur d’eau</b> sur la Lune.
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - M3 à M9 - <a href="/imgs/ispace_m3_9.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>

				<div class="w3-quarter">
					<div class="img-wrap w3-content w3-card">
						<img class="w3-card-4 w3-animate-opacity" src="/imgs/ispace_m10.png" style="width: 100%; display: block;">

						<div class="img-description">
							<h3>M10</h3>
							<p>
								<b>M10</b> (<i>2022</i>) : le <b>commerce</b> entre la Lune et la Terre est totalement effectif et une <b>colonisation de la Lune</b> commence dans le but d’<b>exploiter les ressources lunaires</b>.
								<br />
							</p>
							<i class="copyright">&copy;Maxime Dherbécourt - M10 - <a href="/imgs/ispace_m10.png">Tpe-Micropesanteur</a></i>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin des Japonais -->
		</div>



		<div class="w3-container w3-content w3-padding-16">
			<!-- ESA -->
			<div class="sub-partie">
				<h2 class="underlined">
					ESA :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’<b>ESA</b> a annoncé lors du \(66^{ème}\) congrès international d'astronautique que l'agence souhaitait créer <b>village sur la Lune</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il serait sur la <b>face cachée</b> pour qu'il soit <b>protégé des radiations par la Terre</b>. Ce village accueillerait les <b>activités scientifiques de tous les pays</b>.
				<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les détails de ce projet récent ne sont pas encore connus.
				</p>
			</div>
			<!-- Fin de l'ESA -->



			<!-- Etats-Unis -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Etats-Unis :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Après le décret de Trump, un retour sur la Lune est voulu par la NASA et a déployé la <b>construction d’un avant-poste lunaire</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La NASA a développé un contrat avec des compagnies telles que <b>NextStep-2</b> (<i>pour Next Space Technologies for Exploration Partnerships</i>), <b>Boeing</b> et <b>Orbital-ATK</b> afin de développer des <b>capacités répondant aux objectifs de la NASA pour l’exploration</b> et la <b>commercialisation des ressources de la Lune</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NextStep-2</b> a fait une <b>proposition de nouveaux modules</b> et a également fait preuve d’une <b>volonté de rechercher certains matériaux résistants aux micro-météorites</b>, <b>aux radiations</b> et pouvant répondre à des <b>contraintes thermiques</b> en incluant les contraintes de transport du matériel sur la Lune depuis la Terre.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NextStep-2</b> a recherché s’il est possible de <b>fabriquer directement sur la Lune</b> les matériaux <b>principaux</b> et structurels nécessaires à la construction d’une base lunaire.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Une solution à l’étude serait par exemple <b>d’amener une imprimante 3D sur la Lune</b>, mais cela n’est pour l’instant qu’un projet.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cependant comme pour l’ESA, ce projet et encore très flou et peu concret.
				</p>
			</div>
			<!-- Fin des Etats-Unis -->



			<!-- Conclusion -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Conclusion :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De nombreuses agences spatiales ont pour projet de <b>coloniser la Lune</b>. Cependant, ces projets sont encore à l’état d’ébauches et pourront être <b>effectifs</b> que dans des <b>dizaines d’années</b>.
				</p>
			</div>
			<!-- Conclusion -->
















			<br /><br /><br />
			<h2 class="second-title">
				5. Nouvelle ISS autour de la Lune :
			</h2>



			<!-- Introduction -->
			<div class="sub-partie">
				<p class="main-text w3-content" style="padding-top: 13px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Depuis le lancement de l’ISS en 1998, les entreprises ayant participé au projet réfléchissent à un <b>avant-poste à proximité de la Lune</b>, pour préparer l’exploration humaine du satellite terrestre, de Mars et voire d’un astéroïde.
				</p>
			</div>
			<!-- Fin de l'introduction -->



			<!-- Deep Space Gateway -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Deep Space Gateway :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le projet s’appelle <b>Deep Space Gateway</b> (<i>passerelle vers l’espace profond en français</i>) et il consiste à <b>desservir l’orbite basse</b>. Cet appareil serait davantage un <b>véhicule plutôt qu’une station</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D’après Frank de Winne, conseiller du directeur des vols habités et des opérations de l’ESA, le Deep Space Gateway est un "<b>véhicule qui aura la capacité de naviguer</b>".
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cet avant-poste permettrait de voir <b>comment les véhicules</b> pourraient supporter des <b>missions lunaires robotiques et habitées</b>. De plus, il aiderait au <b>développement de véhicules</b> pour explorer Mars avec des humains.
				</p>
			</div>
			<!-- Fin du Deep Space Gateway -->



			<!-- Le vaisseau -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Le vaisseau :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le vaisseau serait composé de <b>trois modules ayant le même diamètre que l’ISS</b>, soit \(4,5 \text{ mètres}\). Il serait composé d’un <b>module de vie</b>, un de <b>services</b> et un de <b>propulsion électrique</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il pèserait moins de \(20\;000 \text{ tonnes}\), comparé aux \(400\;000 \text{ tonnes}\) tonnes de l’ISS, et pourrait être assemblé en seulement <b>quatre lancements</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les deux ports d’amarrage qui le composeraient seraient fabriqués avec un <b>standard commun pour les amarrages des véhicules spatiaux</b>. Ainsi, tous les vaisseaux des différentes agences spatiales pourraient s’y amarrer. Ces <b>International Docking System Standard</b> (<i>IDSS</i>) serait développés par la société belge <b>QinetiQ Space NV</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outre l’IDSS, le Deep Space Gateway sera desservi par le <b>vaisseau Orion de la NASA</b>, qui pourra transporter <b>quatre astronautes</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/deepspacegateway.jpg" style="width: 80%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 80%; margin-left: 10%;">
						<i class="copyright">&copy;Nasa et Boeing - Concept américain d'un Deep Space Gateway à proximité de la Lune - <a href="https://fr.cdn.v5.futura-sciences.com/buildsv6/images/mediumoriginal/8/a/0/8a0b0f378b_112579_deepspacegateway-concept-boeing-02.jpg">Futura-Sciences</a></i>
					</div>
				</div>
				<br />
			</div>
			<!-- Fin du vaisseau -->



			<!-- Conclusion -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Conclusion :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le projet n’a pas encore été <b>officiellement approuvé</b> mais il serait <b>international</b>, avec des participations des <b>agences spatiales américaine</b>, <b>européenne</b>, <b>canadienne</b>, <b>russe</b>, <b>japonaise</b> et même du <b>secteur privé</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il devrait débuter en <b>2020</b>, et l’ESA n’a pas encore décidé de ce qu’ils allaient faire, mais sûrement la <b>propulsion électrique</b>, les <b>systèmes de support de vie</b> ainsi que les <b>télécommunications</b>.
				</p>
			</div>
			<!-- Fin de la conclusion -->


















			<br /><br /><br />
			<h2 class="second-title">
				6. Le retour des navettes spatiales ?
			</h2>



			<!-- Les navettes spatiales -->
			<div class="sub-partie">
				<h2 class="underlined">
					Les navettes spatiales :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les <b>navettes spatiales</b> (ou <i>space-shuttle</i> en anglais) sont des <b>véhicules spatiaux mis en place par la NASA</b> en 1981 dans le but d’emmener des astronautes ainsi qu’une charge utile importante dans l’espace.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ces navettes ont notamment été utilisées pour la <b>construction de l’ISS</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cependant, du fait de leur <b>coût trop important</b>, et surtout à cause de leur <b>rendement prix par poids</b> pouvant être mis en orbite trop faible (\(62,5 \text{ million d'euros par tonne}\)), elles <b>furent arrêtées en juillet 2011</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/entreprise.jpg" style="width: 80%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 80%; margin-left: 10%;">
						<i class="copyright">&copy;Marie Moulin - Photo de la navette Enterprise - <a href="/imgs/entreprise.jpg">Tpe-micropesanteur</a></i>
					</div>
				</div>
				<br />
			</div>
			<!-- Fin des navettes spatiales -->





			<!-- Le Dream Chaser -->
			<div class="sub-partie">
				<h2 class="underlined">
					Le Dream Chaser :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C’est donc pour cela que la NASA travaille sur une <b>nouvelle navette</b>, <b>plus petite</b>, permettant d'envoyer des astronautes et du matériel dans l’ISS et qui pourrait être <b>réutilisée</b> une fois de retour sur Terre (<i>elle pourrait supporter 15 voyages</i>).

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette navette s’appelle le <b>Dream Chaser</b> et pourrait remplacer à elle seule un minimum de <b>6 missions cargo</b> actuelles destinées à ravitailler l’ISS.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle devrait effectuer ces missions entre <b>2019</b> et <b>2024</b> et devrait être envoyée dans l’espace par une <v>fusée Ariane V</v> (<i>les contrats entre Ariane et la NASA ont été signés en début d’année 2017 pour 2019</i>).
				</p>
			</div>
			<!-- Fin du Dream Chaser -->
		</div>



		<!-- VIDEO DU DREAM CHASER -->
		<div class="w3-container w3-card-4 w3-blue-grey">
			<script type="text/javascript">
				var dream_chaser;
				function dream_chaser_onYouTubeIframeAPIReady() {
					document.getElementById('dream_chaser_loading').style = "display: none;";
					document.getElementById('dream_chaser_control_buttons').style = "display: unset;";

					dream_chaser = new YT.Player('dream_chaser_video', {
						videoId: 'BOf2SwFgx_w',
						events: {
							onReady: dream_chaser_initialize
						},
						playerVars : {
							disablekb: 1,
							rel: 0,
							showinfo: 0,
							controls: 0
						}
					});

					document.getElementById('dream_chaser_video').width = "100%";
				}

				var dream_chaser_time_update_interval;
				function dream_chaser_initialize() {
					clearInterval(dream_chaser_time_update_interval);
					dream_chaser_time_update_interval = setInterval(function() {
						dream_chaser_onTimeUpdate(dream_chaser.getCurrentTime());
					}, 100);
				}

				function dream_chaser_onTimeUpdate(time) {
					var text = dream_chaser_ontimeupdate(time);

					if(
						dream_chaser.getCurrentTime() >= (dream_chaser.getDuration() - 0.1)
						&& dream_chaser_pointer == 1 // Valeur maximum du pointeur
					) {
						dream_chaser.pauseVideo();
						dream_chaser.seekTo(0);
						dream_chaser_pointer = 0;
						return;
					}

					if(text != null) {
						document.getElementById('dream_chaser_text').style = "display: true;";
						document.getElementById('dream_chaser_text').style = "animation: 1s ease 0s 1 normal none running animatetop;";
						document.getElementById('dream_chaser_text').innerHTML = text;
						dream_chaser.pauseVideo();
					}
				}

				var dream_chaser_pointer = 0;
				function dream_chaser_ontimeupdate(currentTime) {
					if(currentTime >= 0 && dream_chaser_pointer == 0) {
						dream_chaser_pointer++;
						return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complation des deux tests du Dream Chaser (la vidéo n'a pas de son)." + getStartButtonText();
					}
					return null;
				}
			</script>

			<h2 class="video-title w3-center">Test du Dream Chaser - &copy;<a class="w3-hover-text-green" href="https://www.youtube.com/watch?v=BOf2SwFgx_w">Maxime Dherbécourt</a> d'après <a class="w3-hover-text-green" href="https://www.sncorp.com/">Sierra-Nevada</a></h2>
			<div class="w3-content" id="dream_chaser_div" style="max-width:800px; position:relative">
				<div id="dream_chaser_loading">
					<img class="loader" src="/imgs/loading-gif.gif">
					<p class="loader-text">Si la vidéo ne charge pas, veuillez attendre une dizaine de secondes et si cela ne marche toujours pas, veuillez recharger la page.</p>
				</div>

				<div class="w3-card-4" id="dream_chaser_video"></div>
				<div class="control-buttons" id="dream_chaser_control_buttons" style="display: none;">
					<i class="material-icons" style="cursor: pointer;" onclick="
						dream_chaser.playVideo();
						document.getElementById('dream_chaser_text').removeAttribute('style');

						setTimeout(setAnimation, 1, 'dream_chaser_text');
						setTimeout(undisplayText, 1000, 'dream_chaser_text');
					">play_arrow</i>
					<i class="material-icons" style="cursor: pointer;" onclick="dream_chaser.pauseVideo()">pause</i>
					<i class="material-icons" style="cursor: pointer;" onclick="
						dream_chaser.seekTo(0);
						dream_chaser_pointer = 0;
						dream_chaser.pauseVideo();
					">replay</i>
				</div>

				<p id="dream_chaser_text" class="video_text"></p>
			</div>
		</div>
		<!-- FIN DU DREAM CHASER -->



		<div class="w3-content w3-container w3-padding-64">
			<!-- L’histoire de la navette -->
			<div class="sub-partie">
				<h2 class="underlined">
					L’histoire de la navette :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le projet est commencé en <b>2004</b> par la société <b>Sierra Nevada</b> mais n’est sélectionné par la NASA pour le <b>programme CCDev</b> (<i>Commercial Crew Development</i>) qu’en <b>2016</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le Dream Chaser décolle <b>verticalement au sommet d’une fusée classique</b> et atterrit <b>comme un avion</b> sur une piste d’atterissage.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le premier test fut effectué en <b>2013</b> et fut un échec partiel : la navette fut lâchée par un hélicoptère à quelques kilomètres d'altitude. <b>L'atterrissage</b> et le <b>vol</b> se déroulèrent <b>bien</b>, mis à part une roue du train d'atterrissage qui refusa de sortir.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En <b>novembre 2017</b>, elle refit le même test qu’elle <b>réussit avec succès</b> : la navette spatiale est donc <b>opérationnelle</b> et en attente. Son contrat devrait commencer en <b>2019</b>.
				</p>
			</div>
			<!-- Fin de l’histoire de la navette -->

















			<br /><br /><br />
			<h2 class="second-title">
				7. SpaceX, le nouveau leader spatial
			</h2>



			<!-- Introduction -->
			<div class="sub-partie">
				<p class="main-text w3-content" style="padding-top: 13px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SpaceX</b> (<i>ou Space Exploration Technologies Corporation</i>) est une entreprise créée par le <b>milliardaire Elon Musk</b> (<i>ayant aussi créé Paypal et Tesla</i>) en <b>2002</b> dans le but de <b>développer des nouvelles fusées</b> et <b>autres objets</b> dans le domaine de l’exploration spatiale.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En <b>2008</b>, elle réussit à envoyer <v>sa première fusée Falcon</v> en orbite : SpaceX devient alors la <b>première société privée à envoyer une fusée dans l’espace</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En <b>décembre 2012</b>, la NASA lui accorde le privilège de <b>transporter le fret vers l’ISS</b> et de l’ISS vers la Terre (<i>SpaceX possède en effet le seul module permettant un retour sur Terre sans qu’il brûle dans l’atmosphère : la capsule "Dragon" porté par la fusée "Falcon 9"</i>). Avant cela, les navettes spatiales ravitaillaient l’ISS mais ces dernières furent <b>abandonnées en 2009</b> après l’explosion de la navette <b>Challenger</b>, tuant tout l’équipage de 7 personnes.
				</p>
			</div>
			<!-- Fin de l'ntroduction -->



			<!-- L’exploit de SpaceX -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					L’exploit de SpaceX :
				</h2>

				<blockquote>
					<i>Salut à tous, je m'appelle Elon Musk, je suis le fondateur de SpaceX. Dans cinq ans, vous êtes morts. Des questions ?
					<br /><b>- Elon Musk à une convention d’industriels de l’aérospatial, 2006</b></i>
				</blockquote>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En <b>avril 2014</b>, SpaceX lance un paris : <b>faire revenir</b> sur Terre le <b>premier étage</b> de leur fusée <b>Falcon 9</b> en <b>déployant des pieds</b> et en <b>utilisant un moteur de freinage</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ces tentatives se soldent cependant toutes par des <b>échecs</b> et des <b>explosions</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C’est le <b>21 décembre 2015</b> que SpaceX réussit l’exploit. Après le décollage de sa fusée Falcon 9 et la <b>séparation du 1er étage</b>, ce dernier atterrit <b>avec succès</b> sur une plateforme à <b>Cap Canaveral</b>.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En <b>avril 2016</b>, le premier étage réussit à atterrir en <b>pleine mer</b> sur une <b>barque contrôlée par des drones</b> : c’est le début de l’apogée de SpaceX.
				</p>
			</div>
			<!-- Fin de l’exploit de SpaceX -->
		</div>



		<!-- VIDEO DE COMPILATION SPACEX -->
		<div class="w3-container w3-card-4 w3-blue-grey">
			<script type="text/javascript">
				var spaceX_compil;
				function spaceX_compil_onYouTubeIframeAPIReady() {
					document.getElementById('spaceX_compil_loading').style = "display: none;";
					document.getElementById('spaceX_compil_control_buttons').style = "display: unset;";

					spaceX_compil = new YT.Player('spaceX_compil_video', {
						videoId: 'p3V1B84cP9I',
						events: {
							onReady: spaceX_compil_initialize
						},
						playerVars : {
							disablekb: 1,
							rel: 0,
							showinfo: 0,
							controls: 0
						}
					});

					document.getElementById('spaceX_compil_video').width = "100%";
				}

				var spaceX_compil_time_update_interval;
				function spaceX_compil_initialize() {
					clearInterval(spaceX_compil_time_update_interval);
					spaceX_compil_time_update_interval = setInterval(function() {
						spaceX_compil_onTimeUpdate(spaceX_compil.getCurrentTime());
					}, 100);
				}

				function spaceX_compil_onTimeUpdate(time) {
					var text = spaceX_compil_ontimeupdate(time);

					if(
						spaceX_compil.getCurrentTime() >= (spaceX_compil.getDuration() - 0.1)
						&& spaceX_compil_pointer == 1 // Valeur maximum du pointeur
					) {
						spaceX_compil.pauseVideo();
						spaceX_compil.seekTo(0);
						spaceX_compil_pointer = 0;
						return;
					}

					if(text != null) {
						document.getElementById('spaceX_compil_text').style = "display: true;";
						document.getElementById('spaceX_compil_text').style = "animation: 1s ease 0s 1 normal none running animatetop;";
						document.getElementById('spaceX_compil_text').innerHTML = text;
						spaceX_compil.pauseVideo();
					}
				}

				var spaceX_compil_pointer = 0;
				function spaceX_compil_ontimeupdate(currentTime) {
					if(currentTime >= 0 && spaceX_compil_pointer == 0) {
						spaceX_compil_pointer++;
						return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Compilation des crashs les plus impressionnants de SpaceX (la vidéo n'a pas de son)." + getStartButtonText();
					}
					return null;
				}
			</script>

			<h2 class="video-title w3-center">Compilation des crashs de SpaceX - &copy;<a class="w3-hover-text-green" href="https://www.youtube.com/watch?v=p3V1B84cP9I">Maxime Dherbécourt</a> d'après <a class="w3-hover-text-green" href="https://twitter.com/twitter/statuses/908254079092002816">SpaceX</a></h2>
			<div class="w3-content" id="spaceX_compil_div" style="max-width:800px; position:relative">
				<div id="spaceX_compil_loading">
					<img class="loader" src="/imgs/loading-gif.gif">
					<p class="loader-text">Si la vidéo ne charge pas, veuillez attendre une dizaine de secondes et si cela ne marche toujours pas, veuillez recharger la page.</p>
				</div>

				<div class="w3-card-4" id="spaceX_compil_video"></div>
				<div class="control-buttons" id="spaceX_compil_control_buttons" style="display: none;">
					<i class="material-icons" style="cursor: pointer;" onclick="
						spaceX_compil.playVideo();
						document.getElementById('spaceX_compil_text').removeAttribute('style');

						setTimeout(setAnimation, 1, 'spaceX_compil_text');
						setTimeout(undisplayText, 1000, 'spaceX_compil_text');
					">play_arrow</i>
					<i class="material-icons" style="cursor: pointer;" onclick="spaceX_compil.pauseVideo()">pause</i>
					<i class="material-icons" style="cursor: pointer;" onclick="
						spaceX_compil.seekTo(0);
						spaceX_compil_pointer = 0;
						spaceX_compil.pauseVideo();
					">replay</i>
				</div>

				<p id="spaceX_compil_text" class="video_text"></p>
			</div>
		</div>
		<!-- FIN DE LA VIDEO DE COMPILATION SPACEX -->



		<div class="w3-content w3-container w3-padding-64">
			<!-- Le futur de SpaceX -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Le futur de SpaceX :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SpaceX a pour projet de finir le <b>développement de sa capsule Dragon</b> pour qu’elle puisse transporter <b>4 humains en direction de l’ISS</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette capsule devrait être totalement <b>opérationnelle d’ici fin 2018</b> si l’on en croit les projets de SpaceX.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si ce module est mis en place, le <b>Soyouz pourrait être amené à disparaître</b> et à être remplacé par le <b>Dragon</b>, car il est beaucoup <b>moins cher</b> et qu’il est <b>américain</b> (<i>la NASA, entreprise gouvernementale américaine, essaye en effet d’utiliser au maximum des entreprises américaines</i>).
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actuellement, le <b>module d'atterrissage d’urgence du Dragon</b> est en cours de test.

					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De plus, SpaceX va bientôt mettre sur le marché une nouvelle fusée appelée la <b>Falcon Heavy</b>. Cette fusée est innovante car elle devient <b>l’unique lanceur lourd du marché actuel</b> et la <b>2e fusée la plus puissante de l’histoire</b> (<i>derrière la fusée Ariane V et les fusées des missions Apollo</i>) et aura pour rendement <b>1.4 million de dollars par tonnes</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elle est <b>moins coûteuse</b> pour une fusée de cette puissance. Cela est dû au fait que ses <b>deux boosters</b> et <b>son module central</b> reviennent sur Terre <b>après qu’ils ont fini de propulser la fusée</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette dernière est composée d’une fusée <b>Falcon 9</b> entourée de <b>2 boosters</b>, dont la puissance est environ <b>égale au premier étage d’une Falcon 9</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette fusée serait capable de se <b>mettre en orbite autour de Mars</b> et de <b>revenir sur Terre</b>.
				</p>

				<br />
				<div class="img-wrap w3-content">
					<img class="w3-card-4 w3-animate-opacity" src="/imgs/falcon_heavy_compare.jpg" style="width: 80%; display: block; margin-left: 10%;">

					<div class="img-description" style="width: 80%; margin-left: 10%;">
						<i class="copyright">&copy;SpaceX - Comparaison de la Falcon Heavy avec les autres fusées - <a href="http://www.spacex.com/sites/spacex/files/fhgraphic_updated_20170404.jpg">SpaceX</a></i>
					</div>
				</div>
				<br />

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cependant, alors que les tests de chaque partie de la fusée sont terminés, les <b>lancements de la fusée</b> "<b>complets</b>" ont commencé. Le premier lancer a eu lieu le <b>6 février dernier</b> : la charge utile de cette première mission était la <b>Tesla Roadster personnelle d’Elon Musk</b> qui a joué la musique "<b>Space Oddity</b>" de David Bowie et qui est placée en <b>orbite martienne</b>.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Malgré cela, la fusée à <b>très peu de chance de réussir son premier vol</b> comme le souligne Elon Musk :
				</p>

				<blockquote>
					<i>Il est très probable que le véhicule n’arrive même pas en orbite. Je tiens juste à ce que [les attentes du public] prennent [cet élément] en compte. J’espère qu’il ira assez loin de l’aire de lancement pour ne pas l’abîmer. Honnêtement, ce serait déjà une réussite.
					<br /><b>- Elon Musk dans <a class="w3-hover-text-green" href="https://spaceflightnow.com/2017/07/25/musk-sets-expectations-low-for-maiden-falcon-heavy-launch/">une interview</a>, 2017</b></i>
				</blockquote>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 autres lancements de Falcon Heavy sont également prévus pour 2018 comme on peut le voir <a class="w3-hover-text-green" href="http://www.spacex.com/missions">sur le site</a>.
				</p>
			</div>
			<!-- Fin du futur de SpaceX -->



			<!-- Conclusion -->
			<br />
			<div class="sub-partie">
				<h2 class="underlined">
					Conclusion :
				</h2>

				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SpaceX est une <b>entreprise ayant révolutionné l’industrie spatiale en une dizaine d’années</b> et dont les <b>plans futurs</b> sont très <b>ambitieux</b> : <b>coloniser Mars</b>.
				</p>
			</div>
			<!-- Fin de la conclusion -->
		</div>
		<!-- FIN PARTIE B. Les futurs plans de la conquête spatiale -->



























		<!-- PARTIE C. Conclusion -->
		<div class="w3-content w3-container w3-padding-64" id="partie_C">
			<h3 class="main-title w3-center">
				C. Conclusion :
			</h3>



			<!-- Conclusion -->
			<div class="sub-partie">
				<p class="main-text w3-content">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Les projets concernant l'<b>évolution de l’exploration spatiale</b> sont nombreux et variés : un voyage sur Mars, une nouvelle ISS, des fusées innovantes ou la chasse aux astéroïdes.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tous représentent un <b>but plus ou moins accessible</b> qui motivent la NASA, l’ESA et toutes les organisations spatiales.
					<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elaborer les <b>budgets</b> et les <b>nouvelles technologies</b> permettant de limiter les risques et contraintes de ces nouveaux objectifs, tels sont les <b>nouveaux défis de la conquête spatiale</b>.
				</p>
			</div>
			<!-- Conclusion -->

			<div class="main-text" style="padding-left: 35%; padding-top: 4%;">
				<a href="/conclusion/#home" class="custom-button w3-button w3-black">
					<i class="fa fa-cog w3-margin-right"></i>Accéder à la conclusion générale du TPE
				</a>
			</div>
		</div>
		<!-- FIN PARTIE C. Conclusion -->




















		<script type="text/javascript">
			var cancel_wait = false;

			function onYouTubeIframeAPIReady() {
				cancel_wait = true;
				dream_chaser_onYouTubeIframeAPIReady();
				spaceX_compil_onYouTubeIframeAPIReady()
			}

			setTimeout(function(){
				if(!cancel_wait) {
					onYouTubeIframeAPIReady(); // "forcage du chargement de l'API youtube" après 6 secondes d'attente
				}
			}, 3000);
		</script>

<%- include('../inc/footer') %>
